netconf/doc/ncx5-html/xsd/ncx/nacm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://netconfcentral.org/ncx/security"
 targetNamespace="http://netconfcentral.org/ncx/security"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified"
 xml:lang="en" version="0.4" xmlns:ncx="http://netconfcentral.org/ncx/1.0"
 xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
 xmlns:n8="http://netconfcentral.org/ncx/types"
 xmlns:n9="http://netconfcentral.org/ietf/types">
 <xs:annotation>
  <xs:documentation> Converted from NCX module by ncxdump v0.2

    Module: nacm
    Owner: ncx
    Application: security
    Version: 0.4
    Copyright (C) 2006-2007, Andy Bierman.
    Contact Info: Send comments to &lt;ietf@andybierman.com&gt;.

    Description:
      NETCONF Access Control Model Parameters

       Usage:
       1) Add 1 or more users and/or hosts to the NcxGroupTable

       - Group Table 
         - A user or host is allowed to belong to multiple groups
         - Access in each of the access control tables is 
           by group name, not user name or host address
         - the user 'rrot' always has access to all RPC methods 
           and all data

       2) Add 1 or more Access Control Entries
          to the access control tables below:

       3) First, a user must be granted access in one of these 2
          RPC access control tables:

         - RPC Type Access Table
           - listed group names are allowed to access any RPC
             method of a particular type, such as 'config' , 'exec'
             or 'monitor'

         - RPC Method Access Table
           - listed group names are allowed to invoke the 
             specified RPC method

         If the user does not have permission to access
         the RPC method, then permission is denied and
         an access-denied error is generated.

         If the agent is not configures to require strict access,
         then all RPC types and all RPC methods can
         be accessed by all users.

       4) If the system access control is configured as 'strict',
          and the RPC method accesses any data elements within
          the conceptual configuration database,
          then a user must be granted access in the
          Data access control tables:

         - Data Access Table
           - listed group names are allowed the indicated max-access
             to any instance of the specified data object

       5) If the system access control is configured as 'strict',
          then this parmset must be used to configure all access 
          control parameters must be setup by 'root' before the 
          agent can be used

         - Parmset ncx-access
           - parameter set to configure the access control tables

      </xs:documentation>
 </xs:annotation>

 <xs:import namespace="http://www.w3.org/XML/1998/namespace"
  schemaLocation="http://www.w3.org/2001/xml.xsd"/>

 <xs:import namespace="http://netconfcentral.org/ncx/types"
  schemaLocation="http://netconfcentral.org/ncx/types
  http://www.netconfcentral.org/xsd/ncx/ncxtypes.xsd"/>

 <xs:import namespace="http://netconfcentral.org/ietf/types"
  schemaLocation="http://netconfcentral.org/ietf/types
  http://www.netconfcentral.org/xsd/ietf/smi.xsd"/>

 <xs:import namespace="http://netconfcentral.org/ietf/types"
  schemaLocation="http://netconfcentral.org/ietf/types
  http://www.netconfcentral.org/xsd/ietf/inetAddress.xsd"/>

 <xs:simpleType name="NcxAccessControlMode">
  <xs:annotation>
   <xs:documentation>NCX Agent Access Control Mode</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:enumeration value="off"/>
   <xs:enumeration value="loose"/>
   <xs:enumeration value="strict"/>
  </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="NcxGroupRec">
  <xs:annotation>
   <xs:documentation>One NCX Group Membership Record

         If a user name is present in the 'users' table then it
         is a member of the group identified by 'name'.

         If a host address is present in the 'hosts' table then it
         is a member of the group identified by 'name'. 

         If both 'users' and 'hosts' are missing then the group
         will be considered empty.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="name" type="n8:NcxGroupName"/>
   <xs:element name="users" minOccurs="0">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="user" type="n8:NcxUserName"/>
     </xs:sequence>
    </xs:complexType>
    <xs:key name="usersKey">
     <xs:selector xpath="user"/>
     <xs:field xpath="user"/>
    </xs:key>
   </xs:element>
   <xs:element name="hosts" minOccurs="0">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="host" type="n9:InetAddress" minOccurs="0"
       maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
    <xs:key name="hostsKey">
     <xs:selector xpath="host"/>
     <xs:field xpath="host"/>
    </xs:key>
   </xs:element>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxGroupTable">
  <xs:annotation>
   <xs:documentation>NCX Group Membership Table
         Users and hosts can belong to any number of groups.
         The group name must be unique.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="group" type="NcxGroupRec" minOccurs="0"
    maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxRpcTypeAccessRec">
  <xs:annotation>
   <xs:documentation>NCX Access Control Entry for a Group by RPC Method Type.
         If an rpc-type is present in the 'rpc-types' list then the
         'group' is granted execution access to any RPC method with 
         the same value of the rpc-type values.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="group" type="n8:NcxGroupName"/>
   <xs:element name="rpc-types" type="n8:NcxRpcTypeList"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxRpcTypeAccessTable">
  <xs:annotation>
   <xs:documentation>NCX Access Control Table for RPC Type</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="rpc-type-acl" type="NcxRpcTypeAccessRec"
    minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxRpcAccessRec">
  <xs:annotation>
   <xs:documentation>NCX Access Control Entry for a Group by RPC Method Name.

         If a method identified by a (owner, rpc) tuple is present 
         in the 'ace' table, then the 'group' is granted execution 
         access to that RPC method with the same (owner, rpc) values.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="group" type="n8:NcxName"/>
   <xs:element name="aces">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ace" minOccurs="0" maxOccurs="unbounded">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="owner" type="n8:NcxName"/>
         <xs:element name="rpc" type="n8:NcxName"/>
        </xs:sequence>
       </xs:complexType>
       <xs:key name="aceKey">
        <xs:selector xpath="."/>
        <xs:field xpath="owner"/>
        <xs:field xpath="rpc"/>
       </xs:key>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxRpcAccessTable">
  <xs:annotation>
   <xs:documentation>NCX Access Control Table for RPC Method Name</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="rpc-acl" type="NcxRpcAccessRec" minOccurs="0"
    maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxDataAccessRec">
  <xs:annotation>
   <xs:documentation>NCX Access Control Entry for a Group by Data Object Name.

         If data identified by an Xpath absolute expression is present 
         in the 'ace' table, then the 'group' is granted at most
         'maxacc' level of access to the data named by the 
         (owner, data) values. 

          Multiple 'ace' elements are processed in order, and the
          first match is used.</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="group" type="n8:NcxName"/>
   <xs:element name="aces">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ace" maxOccurs="unbounded">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="data" type="xs:string"/>
         <xs:element name="maxacc" type="n8:NcxAccessType"
          default="none"/>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="NcxDataAccessTable">
  <xs:annotation>
   <xs:documentation>NCX Access Control Table for Data Objects</xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="data-acl" type="NcxDataAccessRec" minOccurs="0"
    maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="securityPSType"/>

 <xs:element name="securityPS" type="securityPSType" abstract="true"/>

 <xs:complexType name="securityAppType">
  <xs:sequence>
   <xs:element ref="securityPS" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="ncx-accessPSType">
  <xs:annotation>
   <xs:documentation>Parameters for NETCONF Access Control.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="securityPSType">
    <xs:sequence>
     <xs:element name="groups" type="NcxGroupTable">
      <xs:annotation>
       <xs:documentation>NCX Group Membership Table</xs:documentation>
       <xs:appinfo>
        <ncx:max-access>read-create</ncx:max-access>
       </xs:appinfo>
      </xs:annotation>
      <xs:key name="groupsKey">
       <xs:selector xpath="group"/>
       <xs:field xpath="group/name"/>
      </xs:key>
     </xs:element>
     <xs:element name="rpc-type-acls" type="NcxRpcTypeAccessTable">
      <xs:annotation>
       <xs:documentation>NCX RPC Type Access Control Table </xs:documentation>
       <xs:appinfo>
        <ncx:max-access>read-create</ncx:max-access>
       </xs:appinfo>
      </xs:annotation>
      <xs:key name="rpc-type-aclsKey">
       <xs:selector xpath="rpc-type-acl"/>
       <xs:field xpath="rpc-type-acl/group"/>
      </xs:key>
     </xs:element>
     <xs:element name="rpc-acls" type="NcxRpcAccessTable">
      <xs:annotation>
       <xs:documentation>NCX RPC Execution Access Control Table </xs:documentation>
       <xs:appinfo>
        <ncx:max-access>read-create</ncx:max-access>
       </xs:appinfo>
      </xs:annotation>
      <xs:key name="rpc-aclsKey">
       <xs:selector xpath="rpc-acl"/>
       <xs:field xpath="rpc-acl/group"/>
      </xs:key>
     </xs:element>
     <xs:element name="data-acls" type="NcxDataAccessTable">
      <xs:annotation>
       <xs:documentation>NCX Data Model Access Control Table </xs:documentation>
       <xs:appinfo>
        <ncx:max-access>read-create</ncx:max-access>
       </xs:appinfo>
      </xs:annotation>
      <xs:key name="data-aclsKey">
       <xs:selector xpath="data-acl"/>
       <xs:field xpath="data-acl/group"/>
      </xs:key>
     </xs:element>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>

 <xs:element name="ncx-access" type="ncx-accessPSType"
  substitutionGroup="securityPS"/>

</xs:schema>
