nc/nc/static/xsd/nacm.2009-05-13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://netconfcentral.com/ns/nacm"
   targetNamespace="http://netconfcentral.com/ns/nacm"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2009-05-13"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'nacm.yang' by yangdump version 0.9.4
         
         Module: nacm
         Organization: Netconf Central
         Version: 2009-05-13
         Contact: Andy Bierman &lt;andy@netconfcentral.com&gt;.
      </xs:documentation>
      <xs:documentation>
         NETCONF Agent Access Control Model:
         
         1) Administrative Groups
            Group membership is configured by adding user names
            to the 'groups' table.  A user may belong to
            zero or more groups.  An extensible identityref
            object is used to specify the group name.
         
         2) Permissions
            Specific NETCONF protocol permissions are granted
            to particular administrative groups.  This is
            limited to three standard values: read, write, 
            and exec, using a bits leaf called 'allowedRights'.
         
         3) YANG Module Access
            Any RPC method or database node access
            within a specific XML namespace
            is controlled by the moduleRules list.
            If no rpcRule is found for a particular
            RPC operation, then the moduleRule list
            will be checked for a matching entry.
            If the requested XML namespace matches the
            namespace-uri of a configured YANG module
            then access to that module is limited
            by the specific allowedRights leaf configured in
            that entry.
         
         4) RPC Method Invocation
            In order to invoke a specific RPC method,
            the 'rpcRules' list, then the 'moduleRule' list
            is checked to see if the particular group has 
            'exec' rights.  If not, the 'noRuleDefault' leaf
            is checked for this requested RPC operation.
            If denied, the RPC operation is rejected with 
            an 'access-denied' error-tag, and no actions 
            are performed.  The standard operation 
            'close-session' is always allowed.
            The special user 'superuser' is allowed to invoke any
            RPC operation.
         
         5) Database access
            Once the RPC method access has been granted, the
            agent will check any internal database access,
            using the 'dataRules' table.  This is a user-ordered
            list of instance-identifier rules.  If no dataRule
            entries are found, then the the YANG module
            associated with the accessed data node will
            be checked in the moduleRules list, similar
            to step 3.  If no moduleRule entry is found,
            then step 6 is followed.
         
         6) No Rule Default
            If the object being accessed is tagged
            as ncx:secure or ncx_very-secure, then
            default access is 'denied',  Otherwise,
            the noRuleDefault leaf is used to permit or deny
            access when a specific rule is not found in
            the rpcRules or dataRules tables.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/modules/netconfcentral/nacm.yang
         </ncx:source>
         <ncx:organization>Netconf Central</ncx:organization>
         <ncx:contact>
            Andy Bierman &lt;andy@netconfcentral.com&gt;.
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2009-05-13</ncx:version>
            <ncx:description>
               Initial version of the rewrite.
               Preliminary!! Work-in-progress!!
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:simpleType name="NacmUserName">
      <xs:annotation>
         <xs:documentation>
            General Purpose User Name string.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z,A-Z][a-z,A-Z,0-9]{0,62}"/>
         <xs:minLength value="1"/>
         <xs:maxLength value="63"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="NacmRights">
      <xs:annotation>
         <xs:documentation>
            NETCONF Access Rights; 
            These are individually assigned, not hierarchical.
         </xs:documentation>
      </xs:annotation>
      <xs:list>
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="read">
                  <xs:annotation>
                     <xs:documentation>
                        Read access allowed to all specified data.
                        Any protocol operation or notification that
                        returns data to an application is a read 
                        operation.
                     </xs:documentation>
                     <xs:appinfo>
                        <ncx:position>0</ncx:position>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="write">
                  <xs:annotation>
                     <xs:documentation>
                        Write access allowed to all specified data.
                        Any protocol operation that alters a database
                        is a write operation.
                     </xs:documentation>
                     <xs:appinfo>
                        <ncx:position>1</ncx:position>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="exec">
                  <xs:annotation>
                     <xs:documentation>
                        Execution access to the specified RPC operation.
                        Any RPC method invocation is an exec operation.
                     </xs:documentation>
                     <xs:appinfo>
                        <ncx:position>2</ncx:position>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:list>
   </xs:simpleType>

   <xs:simpleType name="NacmGroup">
      <xs:annotation>
         <xs:documentation>
            Type of administrative group that can be
            assigned to the user, and specified in
            an access control rule.
            
            The identityref data type is used to allow as 
            many groups to be added as needed.  There are
            three default groups defined here:
            
              superuser == root account
              admin == administrative account
              guest == guest account
         </xs:documentation>
      </xs:annotation>
   </xs:simpleType>

   <xs:simpleType name="NacmAction">
      <xs:annotation>
         <xs:documentation>
            Action taken by the agent when a particular
            rule matches.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="permit">
            <xs:annotation>
               <xs:documentation>
                  Requested action is permitted.
               </xs:documentation>
               <xs:appinfo>
                  <ncx:value>0</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="deny">
            <xs:annotation>
               <xs:documentation>
                  Requested action is denied.
               </xs:documentation>
               <xs:appinfo>
                  <ncx:value>1</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="nacm">
      <xs:annotation>
         <xs:documentation>
            Parameters for NETCONF Access Control Model.
         </xs:documentation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <ncx:presence>
               An empty nacm container indicates that the NACM service
               is running, using all default parameters.
            </ncx:presence>
            <ncx:very-secure/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="noRuleReadDefault" type="NacmAction"
               default="permit" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Controls whether read access is granted if
                     no appropriate rule is found for a
                     particular read request.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="noRuleWriteDefault" type="NacmAction"
               default="deny" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Controls whether write access is granted if
                     no appropriate rule is found for a
                     particular write request.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="noRuleExecDefault" type="NacmAction"
               default="permit" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Controls whether exec access is granted if
                     no appropriate rule is found for a
                     particular RPC operation request.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="groups">
               <xs:annotation>
                  <xs:documentation>
                     NETCONF Access Control Group Table
                  </xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="group" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>
                              One NETCONF ACM Group Entry
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:ordered-by>system</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="groupIdentity"
                                 type="NacmGroup">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Group identity associated with this entry.
                                    </xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="userName"
                                 type="NacmUserName" minOccurs="0"
                                 maxOccurs="unbounded">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Each entry identifies the user name of 
                                       a member of the group associated with 
                                       this entry.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:ordered-by>system</ncx:ordered-by>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element
                                 name="__.nacm.groups.group.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                        <xs:key name="group_Key">
                           <xs:selector xpath="."/>
                           <xs:field xpath="groupIdentity"/>
                        </xs:key>
                     </xs:element>
                     <xs:element name="__.nacm.groups.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="rules">
               <xs:annotation>
                  <xs:documentation>
                     NETCONF Access Control Rules Table.
                     Processing model for RPC method acme:reset
                     which touches database node /X/Y/Z:
                     
                     Find an 'rpcRule' or 'moduleRule' for the 
                     specified RPC operation, and allow invocation
                     access if the 'allowedRights' leaf includes
                     the 'exec' bit.
                     
                     If no rule is found, then the 'noRuleDefault'
                     parameter is usually used to allow or deny access.
                     (See note 3 and note 4.)
                     
                     If RPC operation invocation permission is
                     granted, then the agent must also make sure
                     that any database data access (in the candidate
                     or running database) is also checked
                     in the 'dataRules' section.
                     
                     The module rules are evaluated for data access
                     as the requested operation is being processed.
                     If a specific module is requested which matches
                     a rule in the moduleRules list, then it is
                     applied.  This is done before the dataRules list
                     is checked.
                     
                     The data rules are evaluated in the order they
                     are entered by the user.  If the RPC operation
                     internal access is a read operation, and
                     a matching rule contains the 'read' bit
                     then database access permission is granted.
                     If the RPC operation internal access is a write
                     operation, and a matching rule contains the 
                     'write' bit, then database access permission 
                     is granted.
                     
                     If no data rule is found, then the 'module rules'
                     are evaluated again, for access to the module
                     associated with the data node.
                     
                     If no module rule is found, then the 'noRuleDefault'
                     parameter is usually used to allow or deny access.
                     (See note 3 and note 4.)
                     
                     Note 1: Access to the 'close-session'
                     RPC operation is always granted, even if
                     no rule exists controlling its access.
                     
                     Note 2: Access is always granted to the
                     special user named 'superuser', even if not
                     yet configured in the 'groups' container.
                     This allows bootstrap and ACM repair
                     but as always, the 'superuser' account
                     needs to be used with extreme caution.
                     
                     Note 3: Write or execution access to data
                     or RPC methods tagged as 'ncx:secure'
                     will only be granted to the 'superuser' user
                     if no rule is found.  The 'noRuleDefault'
                     leaf will be ignored in this case.
                     
                     Note 4: Read, write or execution access to data
                     or RPC methods tagged as 'ncx:very-secure'
                     will only be granted to the 'superuser' user
                     if no rule is found.  The 'noRuleDefault'
                     leaf will be ignored in this case.
                     
                     Note 5: A traditional 'deny' rule is created by
                     simply omitting bits from the allowedRights
                     for the specific data and administrative groups.
                  </xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="moduleRule" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>
                              One Module Access Rule.
                              A module rule is considered a match if
                              the XML namespace for the specified module
                              name matches the XML namespace used within
                              a NETCONF PDU, and the administrative group
                              associated with the requestor session is
                              specified in the 'allowedGroups' 
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:ordered-by>system</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="moduleName">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Name of the YANG module associated with this rule.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:minLength value="1"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="allowedRights"
                                 type="NacmRights">
                                 <xs:annotation>
                                    <xs:documentation>
                                       List of access rights granted to
                                       specified administrative groups for the
                                       content specified by the associated path.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:mandatory>true</ncx:mandatory>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="allowedGroup"
                                 type="NacmGroup" minOccurs="1"
                                 maxOccurs="unbounded">
                                 <xs:annotation>
                                    <xs:documentation>
                                       List of administrative groups which will be
                                       assigned the associated access rights
                                       for the content specified by the associated
                                       path.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:ordered-by>system</ncx:ordered-by>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="comment" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>
                                       A textual description of the access rule.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="4095"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element
                                 name="__.nacm.rules.moduleRule.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                        <xs:key name="moduleRule_Key">
                           <xs:selector xpath="."/>
                           <xs:field xpath="moduleName"/>
                           <xs:field xpath="allowedRights"/>
                        </xs:key>
                     </xs:element>
                     <xs:element name="rpcRule" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>
                              One RPC Method Access Rule.
                              An RPC rule is considered a match if
                              the module name of the requested RPC
                              operation matches 'rpcModuleName',
                              the requested RPC operation matches
                              'rpcName', and the administrative group
                              associated with the requesting session
                              is listed in one of the 'allowedGroup'
                              leaf-list objects.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:ordered-by>system</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="rpcModuleName">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Name of the YANG module defining this RPC method.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:minLength value="1"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="rpcName">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Name of the RPC method.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:minLength value="1"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="allowedRights"
                                 type="NacmRights">
                                 <xs:annotation>
                                    <xs:documentation>
                                       List of access rights granted to
                                       specified administrative groups for the
                                       content specified by the associated path.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:mandatory>true</ncx:mandatory>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="allowedGroup"
                                 type="NacmGroup" minOccurs="1"
                                 maxOccurs="unbounded">
                                 <xs:annotation>
                                    <xs:documentation>
                                       List of administrative groups which will be
                                       assigned the associated access rights
                                       for the content specified by the associated
                                       path.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:ordered-by>system</ncx:ordered-by>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="comment" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>
                                       A textual description of the access rule.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="4095"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element
                                 name="__.nacm.rules.rpcRule.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                        <xs:key name="rpcRule_Key">
                           <xs:selector xpath="."/>
                           <xs:field xpath="rpcModuleName"/>
                           <xs:field xpath="rpcName"/>
                           <xs:field xpath="allowedRights"/>
                        </xs:key>
                     </xs:element>
                     <xs:element name="dataRule" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:documentation>
                              One Data Access Control Rule
                              A data rule is considered to match when
                              the path expression identifies
                              the same node that is being accessed
                              in the NETCONF database, and the administrative
                              group associated with the session is identified
                              in one of the 'allowedGroup' leaf-list entries.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:ordered-by>user</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="name">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Arbitrary name assigned to this data rule.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:minLength value="1"/>
                                       <xs:maxLength value="1023"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="path" type="xs:string">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Instance identifier associated with
                                       the configuration or state data
                                       controlled by this rule.
                                       
                                       Configuration data or state data
                                       instance identifiers start with
                                       a top-level data node.
                                       A complete instance identifier is 
                                       required for this type of path value.
                                       
                                       The special value '/' refers to all
                                       possible database contents.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:mandatory>true</ncx:mandatory>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="allowedRights"
                                 type="NacmRights">
                                 <xs:annotation>
                                    <xs:documentation>
                                       List of access rights granted to
                                       specified administrative groups for the
                                       content specified by the associated path.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:mandatory>true</ncx:mandatory>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="allowedGroup"
                                 type="NacmGroup" minOccurs="1"
                                 maxOccurs="unbounded">
                                 <xs:annotation>
                                    <xs:documentation>
                                       List of administrative groups which will be
                                       assigned the associated access rights
                                       for the content specified by the associated
                                       path.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:ordered-by>system</ncx:ordered-by>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="comment" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>
                                       A textual description of the access rule.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="4095"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element
                                 name="__.nacm.rules.dataRule.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                        <xs:key name="dataRule_Key">
                           <xs:selector xpath="."/>
                           <xs:field xpath="name"/>
                        </xs:key>
                     </xs:element>
                     <xs:element name="__.nacm.rules.A__" minOccurs="0"
                        maxOccurs="unbounded" abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="__.nacm.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
