nc/nc/static/xsd/verified-commit.2009-06-09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="file:///draft-cole-netconf-robust-config-01.txt"
   targetNamespace="file:///draft-cole-netconf-robust-config-01.txt"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2009-06-09"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:ncn="urn:ietf:params:xml:ns:netconf:notification:1.0">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'verified-commit.yang' by yangdump version 0.9.4
         
         Module: verified-commit
         Organization: IETF
         Version: 2009-06-09
         Contact: [add contact info here].
      </xs:documentation>
      <xs:documentation>
         NETCONF verified commit procedure.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/modules/netconfcentral/verified-commit.yang
         </ncx:source>
         <ncx:organization>IETF</ncx:organization>
         <ncx:contact>
            [add contact info here].
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2009-06-09</ncx:version>
            <ncx:description>Initial version.</ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:complexType name="start-verified-commit_output_type__">
      <xs:complexContent>
         <xs:extension base="nc:dataInlineType">
            <xs:sequence>
               <xs:element name="__.start-verified-commit.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="start-verified-commit"
      substitutionGroup="nc:rpcOperation">
      <xs:annotation>
         <xs:documentation>
            The verified commit procedure is started by
            invoking this operation.  The NETCONF procedure
            for the :confirmed-commit capability is followed,
            with the additional semantics:
            
              * the agent will cancel the verified-commit
                procedure if the &lt;cancel-verified-commit&gt;
                operation is invoked.
            
              * the agent will start, monitor, and report
                the verification test(s) during the time
                interval after this operation, and before
                the 'timeout' interval has expired.
            
              * the agent will complete the verified commit
                procedure if the &lt;complete-verified-commit&gt;
                operation is invoked before the timeout interval
                has expired.
            
              * the agent will generate the &lt;verifiedCommitStatus&gt;
                notification for each verification test specified
                in the 'test-template leaf-list, indicating the
                result of each verification test.
            
              * the agent will generate the &lt;verifiedCommitComplete&gt;
                notification at the completion of the entire
                verified commit procedure, indicating the
                final verified commit proceudure status.
            
         </xs:documentation>
         <xs:appinfo>
            <ncx:rpc-output>
               start-verified-commit_output_type__
            </ncx:rpc-output>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="nc:rpcOperationType">
               <xs:sequence>
                  <xs:element name="timeout" type="xs:unsignedInt"
                     default="600" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
                           The time interval the agent must wait before
                           reverting the &lt;running&gt; configuration
                           and automatically canceling the verified
                           commit procedure.  (Note that the verified
                           commit procedure will also be automatically
                           canceled if the session that invokes this operation
                           is terminated for any reason.
                        </xs:documentation>
                        <xs:appinfo>
                           <ncx:units>seconds</ncx:units>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="test-template" type="xs:string"
                     minOccurs="1" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>
                           Identifies a verification test control entry
                           for the agent to use for the verification
                           portion of the verified commit procedure.
                           
                           The verification test control entry must conform
                           to the requirements specified in section X.X,
                           and the agent must be capable of starting,
                           monitoring, and reporting the results of
                           the verification test, as required.
                           
                           The agent will also generate the &lt;verifiedCommitStatus&gt;
                           notification, as specified for the verification
                           test control entry indicated by this parameter.
                        </xs:documentation>
                        <xs:appinfo>
                           <ncx:ordered-by>system</ncx:ordered-by>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="__.start-verified-commit.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

   <xs:complexType name="cancel-verified-commit_output_type__">
      <xs:complexContent>
         <xs:extension base="nc:dataInlineType">
            <xs:sequence>
               <xs:element name="__.cancel-verified-commit.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="cancel-verified-commit"
      substitutionGroup="nc:rpcOperation">
      <xs:annotation>
         <xs:documentation>
            Cancel a verified commit procedure already in progress.
            
            If no verified commit procedure is currently in
            progress, then an 'operation-failed' error is
            generated, and the value 'no-verified-commit'
            is used for the error-app-tag field.
            
            If the verified commit procedure in progress
            cannot be canceled for any reason, then an
            'operation-failed' error is returned, and
            the value 'cancel-failed' is used in the
            error-app-tag field.
            
            If any verification tests associated with this
            verified commit procedure are still in progress,
            they will be canceled by this operation.
            
            If the verified commit procedure in progress
            is canceled, then the agent will return &lt;ok/&gt;.
            
         </xs:documentation>
         <xs:appinfo>
            <ncx:rpc-output>
               cancel-verified-commit_output_type__
            </ncx:rpc-output>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="nc:rpcOperationType">
               <xs:sequence>
                  <xs:element name="__.cancel-verified-commit.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

   <xs:complexType name="complete-verified-commit_output_type__">
      <xs:complexContent>
         <xs:extension base="nc:dataInlineType">
            <xs:sequence>
               <xs:element name="__.complete-verified-commit.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:element name="complete-verified-commit"
      substitutionGroup="nc:rpcOperation">
      <xs:annotation>
         <xs:documentation>
            Complete a verified commit procedure already in progress.
            
            If no verified commit procedure is currently in
            progress, then an 'operation-failed' error is
            generated, and the value 'no-verified-commit'
            is used for the error-app-tag field.
            
            If the verified commit procedure in progress
            cannot be completed for any reason, then an
            'operation-failed' error is returned, and
            the value 'complete-failed' is used in the
            error-app-tag field.
            
            If any verification tests associated with this
            verified commit procedure are still in progress,
            they will be canceled by this operation.
            
            If the verified commit procedure in progress
            is completed, then the agent will return &lt;ok/&gt;.
            
         </xs:documentation>
         <xs:appinfo>
            <ncx:rpc-output>
               complete-verified-commit_output_type__
            </ncx:rpc-output>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="nc:rpcOperationType">
               <xs:sequence>
                  <xs:element name="__.complete-verified-commit.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="verifiedCommitStatus"
      substitutionGroup="ncn:notificationContent">
      <xs:annotation>
         <xs:documentation>
            Contains the current of final status of
            a verification test being invoked on behalf
            of the current verified commit procedure.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="ncn:NotificationContentType">
               <xs:sequence>
                  <xs:element name="testIdentifier" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
                           Indicates which verification test this
                           status report is associated with.
                           This value will identify the same node
                           as specified in a 'test-template'
                           parameter instance provided in the
                           &lt;start-verified-commit&gt; operation.
                        </xs:documentation>
                        <xs:appinfo>
                           <ncx:mandatory>true</ncx:mandatory>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="statusType">
                     <xs:annotation>
                        <xs:documentation>
                           Indicates the type of status report that
                           this notification contains.
                        </xs:documentation>
                        <xs:appinfo>
                           <ncx:mandatory>true</ncx:mandatory>
                        </xs:appinfo>
                     </xs:annotation>
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="partial">
                              <xs:annotation>
                                 <xs:documentation>
                                    Indicates this is a partial status result
                                    and the verification test is still in 
                                    progress.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:value>0</ncx:value>
                                 </xs:appinfo>
                              </xs:annotation>
                           </xs:enumeration>
                           <xs:enumeration value="final">
                              <xs:annotation>
                                 <xs:documentation>
                                    Indicates this is the final status result
                                    and the verification test is completed
                                    or canceled.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:value>1</ncx:value>
                                 </xs:appinfo>
                              </xs:annotation>
                           </xs:enumeration>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="status" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
                           Indicates the NETCONF error-tag value most
                           closely associated with the test status.
                           The string 'ok' is used to indicate that
                           no errors have been detected.
                        </xs:documentation>
                        <ncx:reference>
                           <ncx:text>
                              RFC 4741bis, Appendix A
                           </ncx:text>
                           <ncx:url>
                              http://www.ietf.org/rfc/rfc4741.txt
                           </ncx:url>
                        </ncx:reference>
                        <xs:appinfo>
                           <ncx:mandatory>true</ncx:mandatory>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="extendedStatus" type="xs:anyType"
                     minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
                           Indicates test-specific status data.
                           The requirements for verification tests
                           (section X.X) describes how the semantics
                           of this structure are determined.
                        </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="__.verifiedCommitStatus.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="verifiedCommitComplete"
      substitutionGroup="ncn:notificationContent">
      <xs:annotation>
         <xs:documentation>
            Contains the final status of the
            current verified commit procedure.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="ncn:NotificationContentType">
               <xs:sequence>
                  <xs:element name="status" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
                           Indicates the NETCONF error-tag value most
                           closely associated with the test status.
                           The string 'ok' is used to indicate that
                           no errors have been detected.
                        </xs:documentation>
                        <ncx:reference>
                           <ncx:text>
                              RFC 4741bis, Appendix A
                           </ncx:text>
                           <ncx:url>
                              http://www.ietf.org/rfc/rfc4741.txt
                           </ncx:url>
                        </ncx:reference>
                        <xs:appinfo>
                           <ncx:mandatory>true</ncx:mandatory>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="__.verifiedCommitComplete.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

</xs:schema>
