nc/nc/static/xsd/yangdiff.2009-04-10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://netconfcentral.com/ns/yangdiff"
   targetNamespace="http://netconfcentral.com/ns/yangdiff"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2009-04-10"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:nt="http://netconfcentral.com/ns/ncxtypes"
   xmlns:ncxapp="http://netconfcentral.com/ns/ncx-app-common">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'yangdiff.yang' by yangdump version 0.9.4
         
         Module: yangdiff
         Organization: Netconf Central
         Version: 2009-04-10
         Contact: Andy Bierman &lt;andy at netconfcentral.com&gt;
      </xs:documentation>
      <xs:documentation>
         yangdiff compares the semantics and syntax between
         two revisions of the same YANG module.  The
         conceptual data model is compared, not the
         individual files.
         
         For example, unless statement order is significant,
         changing the order is not considered a change, and
         is not reported.  Reformatted test (whitespace changes)
         are also not reported.
         
         If a data type definition is changed in form,
         but not content, then a 'modify type' message
         will be generated, but no additional sub-fields
         will be reported.
         
         INPUT FILES
         
            To compare one module, use the 'old' and 'new'
            parameters to specify YANG module files,
            each with a filespec string ending with the '.yang'
            file extension.  The filespecs must represent
            different files.  If the 'old' parameter represents
            a directory, then this directory will be searched
            for the 'new' filename.
         
            To compare all the modules in a subtree, use the
            'old' and 'new' parameters to specify a directory
            to be searched for YANG modules to be processed.
            In this mode, each new module is compared to
            a corresponding file within the 'old' subtree.
            Also, dependency and include files
            will be kept separate, for each subtree.
         
            Unless the 'help' or 'version' parameters is entered,
            the 'old' and 'new' parameters must be present.
         
         SEARCH PATH
         
             When a module name is entered as input, or when a
             module or submodule name is specified in an import or include
             statement within the file, the following search algorithm
             is used to find the file:
         
             1) if the parameter for the file that generated the
                search request represents a subtree, search that
                subtree first.
             2) file is in the current directory
             3) YANG_MODPATH environment var (or set by modpath parameter)
             4) $HOME/modules directory
             5) $YANG_HOME/modules directory
             6) $YANG_INSTALL/modules directory OR
                default install module location, '/usr/share/yang/modules'
         
             By default, the entire directory tree for all locations
             (except step 1) will be searched, not just the specified
             directory.  The 'no-subdirs' parameter can be used to
             prevent sub-directories from being searched.
         
             Any directory name beginning with a dot character '.'
             will be skipped.  Also, any directory named 'CVS' will
             be skipped in directory searches.
         
         OUTPUT MODES
         
             By default, any comparison output will be sent to STDOUT.
         
             The 'output' parameter can be used to specify the
             full filespec of the output file,  or a
             complete directory specification to be combined
             with the default filename (yangdiff.log).
         
         ERROR LOGGING
         
             By default, warnings and errors are sent to STDOUT.
         
             A log file can be specified instead with the 'log' parameter.
             Existing log files can be reused with the 'logappend'
             parameter, otherwise log files are overwritten.
         
             The logging level can be controlled with the 'log-level'
             parameter.  The default log level is 'info'.  The
             log-levels are additive:
         
                off:    suppress all errors (not recommended!)
         	       A program return code of '1' indicates some error.
                error:  print errors
                warn:   print warnings
                info:   print generally interesting trace info
                debug:  print general debugging trace info
                debug2: print verbose debugging trace info
         
         ENVIRONMENT VARIABLES
         
             The following optional environment variables can be used
             to control module and data search behavior:
         
             HOME:  the user's home directory  (e.g., /home/andy)
         
             YANG_HOME:  The root of the user's YANG work directory
         		(e.g., /home/andy/swdev/netconf)
         
             YANG_INSTALL:  The root of the directory that yangdiff
         		    is installed on this system
         		   (default is, /usr/share/yang)
         
             YANG_MODPATH: Colon-separated list of directories to
         		  search for modules and submodules.
         		  (e.g.: './workdir/modules:/home/andy/test-modules')
         		  The 'modpath' parameter will override this
         		  environment variable, if both are present.
         
         CONFIGURATION FILES
         
               * config file
         	default: /etc/yangdiff.conf
         
             An ASCII configuration file format is supported to
             store command line parameters.  The 'config' parameter
             is used to specify a specific config file, otherwise
             the default config file will be checked.
         
             - A hash mark until EOLN is treated as a comment
             - All text is case-sensitive
             - Whitespace within a line is not significant
             - Whitespace to end a line is significant/
               Unless the line starts a multi-line string,
               an escaped EOLN (backslash EOLN) is needed
               to enter a leaf on multiple lines.
             - For parmsets that define lists, the key components
               are listed just after the parameter name, without
               any name,  e.g.,
         
         	interface eth0 {
         	  # name = eth0 is not listed inside the braces
         	  ifMtu 1500
         	  ifName mySystem
         	}
         
             A config file can contain any number of parameter
             sets for different programs.  Each program
             must have its own section, identifies by its name:
         
         	# this is a comment
         	yangdiff {
         	  log-level debug
         	  output "~/swdev/testfiles"
         	}
         
         	yangdump {
         	  ...
         	}
         
         FILES
         
             The following data files must be present in the module
             search path in order for this program to function:
         
               * yangdiff.ncx (this file)
         	default locations:
         	  ~/modules/netconfcentral/yangdiff.ncx
         	  /usr/share/yang/modules/netconfcentral/yangdiff.ncx
         
               * ncxtypes.ncx
         	default locations:
         	   ~/modules/netconfcentral/ncxtypes.ncx
         	   /usr/share/yang/modules/netconfcentral/ncxtypes.ncx
         
         BUGS
            - sub-modules ignored in directory processing mode,
              and module comparisons do not include sub-modules;
              the 'unified' parameter will be added later to
              support this feature
            - comparison does not examine beyond the current
              module (i.e. differences in imported modules);
              The exception are typedef chains, which are
              examined for semantic changes, regardless of
              module location of the typedef.
         
              Internal diagnostics may generate the following
              type of message if any bugs are detected at runtime:
         
              [E0]
         	 filename.c:linenum error-number (error-msg)
         
              Please send a bug report to support@netconfcentral.com
              if any messages of this type appear in the error log.
         
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/modules/netconfcentral/yangdiff.yang
         </ncx:source>
         <ncx:organization>Netconf Central</ncx:organization>
         <ncx:contact>
            Andy Bierman &lt;andy at netconfcentral.com&gt;
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2009-04-10</ncx:version>
            <ncx:description>
               Moved common parameters to ncx-app-common
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>2008-08-17</ncx:version>
            <ncx:description>Initial version</ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:simpleType name="DiffType">
      <xs:annotation>
         <xs:documentation>
            Type of comparison output requested.
         </xs:documentation>
         <xs:appinfo>
            <ncx:default>normal</ncx:default>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="terse">
            <xs:annotation>
               <xs:appinfo>
                  <ncx:value>0</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="normal">
            <xs:annotation>
               <xs:appinfo>
                  <ncx:value>1</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="revision">
            <xs:annotation>
               <xs:appinfo>
                  <ncx:value>2</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="yangdiff">
      <xs:annotation>
         <xs:documentation>
            CLI Parameter Set for the YANG Module Compare Application.
         </xs:documentation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <ncx:cli/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="config" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The name of the configuration file to use.
                     Any parameter except this one can be set in the config file.
                     The default config file will be not be checked if this
                     parameter is present.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="help" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Print yangdump help file and exit.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:choice>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:choice-name>brief-full</ncx:choice-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:sequence>
                  <xs:annotation>
                     <xs:appinfo>
                        <ncx:case-name>brief</ncx:case-name>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:element name="brief" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Show brief help text
                        </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="__.yangdiff.brief-full.brief.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
               <xs:sequence>
                  <xs:annotation>
                     <xs:appinfo>
                        <ncx:case-name>full</ncx:case-name>
                     </xs:appinfo>
                  </xs:annotation>
                  <xs:element name="full" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Show full help text
                        </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="__.yangdiff.brief-full.full.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
               <xs:element name="__.yangdiff.brief-full.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:choice>
            <xs:element name="indent" type="nt:IndentType" default="3"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Number of spaces to indent (0..9) in formatted output.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="log" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Filespec for the log file to use instead of STDOUT.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="log-append" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     If present, the log will be appended not over-written.
                     If not, the log will be over-written.
                     Only meaningful if the 'log' parameter is
                     also present.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="log-level" type="nt:NcDebugType"
               default="info" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Sets the debug logging level for the program.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="modpath" type="nt:NcPathList"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Directory search path for YANG and NCX modules.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="version" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Print yangdump version string and exit.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="old" type="nt:NcModuleSpec" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The older of the two revisions to compare.
                     
                     If this parameter indicates a filename, then it
                     represents the YANG source module name 
                     to compare as the older of the two revisions.
                     
                     If this parameter indicates a directory,
                     then it will be used to to search for a
                     file with the same name as identified by
                     the 'new' parameter.
                     
                     If this string begins with a '~' character,
                     then a username is expected to follow or
                     a directory separator character.  If it begins
                     with a '$' character, then an environment variable
                     name is expected to follow.
                     
                        ~/some/path ==&gt; &lt;my-home-dir&gt;/some/path
                     
                        ~fred/some/path ==&gt; &lt;fred-home-dir&gt;/some/path
                     
                        $workdir/some/path ==&gt; &lt;workdir-env-var&gt;/some/path
                     
                     This parameter must be present unless the 'help'
                     or 'version' parameters are used.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="new" type="nt:NcModuleSpec" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     If this parameter indicates a filename, then it
                     represents the YANG source module name 
                     to compare as the newer of the two revisions.
                     
                     If this parameter indicates a directory
                     (and the 'old' parameter indicates a filename),
                     then it will be used to to search for a
                     file with the same name as the 'new' parameter.
                     
                     If the 'old' parameter identifies a directory
                     as well (and the 'no-subdirs' parameter is present),
                     then the modules within the 'new' directory will be 
                     compared to files with the same name in the 'old' 
                     directory.  If the 'no-subdirs' parameter is not
                     present, then all sub-directories within the 'src'
                     directory will also be checked.
                     
                     If this string begins with a '~' character,
                     then a username is expected to follow or
                     a directory separator character.  If it begins
                     with a '$' character, then an environment variable
                     name is expected to follow.
                     
                        ~/some/path ==&gt; &lt;my-home-dir&gt;/some/path
                     
                        ~fred/some/path ==&gt; &lt;fred-home-dir&gt;/some/path
                     
                        $workdir/some/path ==&gt; &lt;workdir-env-var&gt;/some/path
                     
                     This parameter must be present unless the 'help'
                     or 'version' parameters are used.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="difftype" type="DiffType"
               default="normal" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The type of comparison output requested.
                     Allowed values are 'terse', 'normal', and 'revision'.
                     
                     The basic format is:
                     
                       [add/delete/modify] field-name [field-value]
                     
                     The 'terse' option will include the names
                     of the top-level fields that are different.
                     
                       A foo  --&gt;  Added foo in new revision
                       D foo  --&gt;  Deleted foo in new revision
                       M foo  --&gt;  Modified foo in new revision (value too long)
                       M foo from '0' to '1'  --&gt;  Modified foo in new revision
                     
                     The 'normal' option will also include any changes
                     for any nested fields or objects.  This is the default
                     option.
                     
                     The 'revision' option will generate the differences report
                     in YANG revision-stmt format.  For example:
                     
                     revision &lt;todays-date&gt; {
                      description 
                        "
                          - Added import baxtypes
                          - Changed contact to 'support@acme.com'
                          - Modified container myobjects
                     	- Added list first-list";
                     } 
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="output" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Output directory or file name to use.
                     The default is STDOUT if none is specified.
                     
                     If this parameter represents an existing directory,
                     then the default comparison output file (yangdiff.log)
                     will be generated in the specified directory.
                     
                     If this parameter represents a file name,
                     then all comparison output will be directed
                     to the specified file.  If the file already exists,
                     it will be overwritten.
                     
                     If this string begins with a '~' character,
                     then a username is expected to follow or
                     a directory separator character.  If it begins
                     with a '$' character, then an environment variable
                     name is expected to follow.
                     
                        ~/some/path ==&gt; &lt;my-home-dir&gt;/some/path
                     
                        ~fred/some/path ==&gt; &lt;fred-home-dir&gt;/some/path
                     
                        $workdir/some/path ==&gt; &lt;workdir-env-var&gt;/some/path
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="no-header" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     If present, the header clauses will be skipped, and any 
                     differences between the module headers will not be reported.
                     Only object definitions will be compared.
                     
                     If missing, then header clauses will be compared,
                     along will all the object definitions.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="no-subdirs" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     If present, the file search paths for modules, scripts, and data
                     files will not include sub-directories if they exist in the
                     specified path.
                     
                     If missing, then these file search paths will include
                     sub-directories, if present.  Any directory name beginning
                     with a dot '.' character, or named 'CVS', will be ignored.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.yangdiff.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
