ncorg/ncorg/static/xsd/DIFFSERV-CONFIG-MIB_2004-01-22.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:DIFFSERV-CONFIG-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:DIFFSERV-CONFIG-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2004-01-22"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:snmp-framework="urn:ietf:params:xml:ns:yang:smiv2:SNMP-FRAMEWORK-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'DIFFSERV-CONFIG-MIB.yang' by yangdump version 0.9.3
         
         Module: DIFFSERV-CONFIG-MIB
         Organization: SNMPCONF WG
         Version: 2004-01-22
         Contact: SNMPCONF Working Group
         http://www.ietf.org/html.charters/snmpconf-charter.html
         WG mailing list: snmpconf@snmp.com
         
         Editors:
         Harrie Hazewinkel
         I.Net
         via Darwin 85
         20019 - Settimo Milanese (MI)
         Italy
         EMail: harrie@inet.it
         
         David Partain
         Ericsson AB
         P.O. Box 1248
         SE-581 12 Linkoping
         Sweden
         E-mail: David.Partain@ericsson.com
      </xs:documentation>
      <xs:documentation>
         This MIB module contains differentiated services
         specific managed objects to perform higher-level
         configuration management.  This MIB allows policies
         to use 'templates' to instantiate Differentiated
         Services functional datapath configurations to
         be assigned (associated with an interface and
         direction) when a policy is activated.
         
         Copyright (C) The Internet Society (2004).  This version
         of this MIB module is part of RFC 3747;  see the RFC
         itself for full legal notices.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/ietf/DIFFSERV-CONFIG-MIB.yang
         </ncx:source>
         <ncx:organization>SNMPCONF WG</ncx:organization>
         <ncx:contact>
            SNMPCONF Working Group
            http://www.ietf.org/html.charters/snmpconf-charter.html
            WG mailing list: snmpconf@snmp.com
            
            Editors:
            Harrie Hazewinkel
            I.Net
            via Darwin 85
            20019 - Settimo Milanese (MI)
            Italy
            EMail: harrie@inet.it
            
            David Partain
            Ericsson AB
            P.O. Box 1248
            SE-581 12 Linkoping
            Sweden
            E-mail: David.Partain@ericsson.com
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2004-01-22</ncx:version>
            <ncx:description>
               Initial version published as RFC 3747
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="diffServConfigMIBObjects">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.108.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="diffServConfigEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     An entry defining a per-hop-behavior.  Each entry in
                     this table combines the various parameters (entries)
                     into a specific per-hop-behavior.  Entries in this
                     table might be defined by a vendor (pre-configured)
                     or defined by a management application.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="diffServConfigId">
                        <xs:annotation>
                           <xs:documentation>
                              A unique id for the per-hop-behavior policy for at
                              least the SNMP agent.  For ease of administration the
                              value may be unique within an administrative domain,
                              but this is not required.
                              
                              The range of up to 116 octets is chosen to stay within
                              the SMI limit of 128 sub-identifiers in an object
                              identifier.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="116"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="diffServConfigDescr"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A human-readable description to identify this defined
                              per-hop-behavior.  Note that this is an SnmpAdminString,
                              which permits UTF-8 strings.  An administratively assigned
                              identifier for a template that would be unique within
                              an administrative domain.  It is up to the management
                              applications to agree how these are assigned within the
                              administrative domain.  Once a description, such as
                              'EF' is assigned, that has a certain set of parameters
                              that achieve 'EF' from box to box. Management
                              application code or script code can then scan
                              the table to find the proper template and then
                              assign it.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="diffServConfigOwner"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The owner who created this entry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="diffServConfigLastChange"
                        type="smiv2:DateAndTime" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The date and time when this entry was last changed.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="diffServConfigStart"
                        type="smiv2:RowPointer" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The pointer to a functional datapath configuration template as
                              set up in the DIFFSERV-MIB.  This RowPointer should
                              point to an instance of one of:
                                diffServClfrEntry
                                diffServMeterEntry
                                diffServActionEntry
                                diffServAlgDropEntry
                                diffServQEntry
                              
                              
                              
                              
                              A value of zeroDotZero in this attribute indicates no
                              further Diffserv treatment is performed on traffic of
                              this functional datapath.  This also means that the
                              template described by this row is not defined.
                              
                              If the row pointed to does not exist, the treatment
                              is as if this attribute contains a value of zeroDotZero.
                           </xs:documentation>
                           <ncx:reference>
                              <ncx:text>
                                 Differentiated Services MIB module
                              </ncx:text>
                           </ncx:reference>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="zeroDotZero"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="diffServConfigStorage"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of storage used for this row.
                              
                              Since an entry in this table serves as a starting
                              point for a configuration, it is recommended that
                              all entries comprising the configuration started by
                              diffServConfigStart follow the storage type of this
                              entry.  Otherwise, after agent reboots a configuration
                              may differ.  It may very well be that the agent is
                              not capable of detecting such changes and therefore,
                              the management application should verify the correct
                              configuration after a reboot.  Rows with a StorageType
                              of 'permanent' do not need to allow write access to
                              any of the columnar objects in that row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="nonVolatile"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="diffServConfigStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              RowStatus object used for creation and deletion of
                              rows in this table.  All writable objects in this row
                              may be modified at any time.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="notInService"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.108.1.2.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.diffServConfigMIBObjects.diffServConfigEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="diffServConfigEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="diffServConfigId"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.diffServConfigMIBObjects.A__"
               minOccurs="0" maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
