ncorg/ncorg/static/xsd/ENTITY-STATE-MIB_2005-11-22.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:ENTITY-STATE-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:ENTITY-STATE-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2005-11-22"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:ncn="urn:ietf:params:xml:ns:netconf:notification:1.0"
   xmlns:entity-mib="urn:ietf:params:xml:ns:yang:smiv2:ENTITY-MIB"
   xmlns:entity-state="urn:ietf:params:xml:ns:yang:smiv2:ENTITY-STATE-TC-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'ENTITY-STATE-MIB.yang' by yangdump version 0.9.3
         
         Module: ENTITY-STATE-MIB
         Organization: IETF Entity MIB Working Group
         Version: 2005-11-22
         Contact:  General Discussion: entmib@ietf.org
         To Subscribe:
         http://www.ietf.org/mailman/listinfo/entmib
         
         http://www.ietf.org/html.charters/entmib-charter.html
         
         Sharon Chisholm
         Nortel Networks
         PO Box 3511 Station C
         Ottawa, Ont.  K1Y 4H7
         Canada
         schishol@nortel.com
         
         David T. Perkins
         548 Qualbrook Ct
         San Jose, CA 95110
         USA
         Phone: 408 394-8702
         dperkins@snmpinfo.com
      </xs:documentation>
      <xs:documentation>
         This MIB defines a state extension to the Entity MIB.
         
         Copyright (C) The Internet Society 2005.  This version
         of this MIB module is part of RFC 4268; see the RFC
         itself for full legal notices.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/ietf/ENTITY-STATE-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF Entity MIB Working Group
         </ncx:organization>
         <ncx:contact>
             General Discussion: entmib@ietf.org
            To Subscribe:
            http://www.ietf.org/mailman/listinfo/entmib
            
            http://www.ietf.org/html.charters/entmib-charter.html
            
            Sharon Chisholm
            Nortel Networks
            PO Box 3511 Station C
            Ottawa, Ont.  K1Y 4H7
            Canada
            schishol@nortel.com
            
            David T. Perkins
            548 Qualbrook Ct
            San Jose, CA 95110
            USA
            Phone: 408 394-8702
            dperkins@snmpinfo.com
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2005-11-22</ncx:version>
            <ncx:description>
               Initial version, published as RFC 4268.
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="entStateObjects">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.131.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="entStateEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     State information about this physical entity.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="entPhysicalIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="entStateLastChanged"
                        type="smiv2:DateAndTime" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of this object is the date and
                              time when the value of any of entStateAdmin,
                              entStateOper, entStateUsage, entStateAlarm,
                              or entStateStandby changed for this entity.
                              
                              If there has been no change since
                              the last re-initialization of the local system,
                              this object contains the date and time of
                              local system initialization.  If there has been
                              no change since the entity was added to the
                              local system, this object contains the date and
                              time of the insertion.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="entStateAdmin"
                        type="entity-state:EntityAdminState"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The administrative state for this entity.
                              
                              
                              
                              This object refers to an entities administrative
                              permission to service both other entities within
                              its containment hierarchy as well other users of
                              its services defined by means outside the scope
                              of this MIB.
                              
                              Setting this object to 'notSupported' will result
                              in an 'inconsistentValue' error.  For entities that
                              do not support administrative state, all set
                              operations will result in an 'inconsistentValue'
                              error.
                              
                              Some physical entities exhibit only a subset of the
                              remaining administrative state values.  Some entities
                              cannot be locked, and hence this object exhibits only
                              the 'unlocked' state.  Other entities cannot be shutdown
                              gracefully, and hence this object does not exhibit the
                              'shuttingDown' state.  A value of 'inconsistentValue'
                              will be returned if attempts are made to set this
                              object to values not supported by its administrative
                              model.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="entStateOper"
                        type="entity-state:EntityOperState"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The operational state for this entity.
                              
                              Note that unlike the state model used within the
                              Interfaces MIB [RFC2863], this object does not follow
                              the administrative state.  An administrative state of
                              down does not predict an operational state
                              of disabled.
                              
                              A value of 'testing' means that entity currently being
                              tested and cannot therefore report whether it is
                              operational or not.
                              
                              A value of 'disabled' means that an entity is totally
                              inoperable and unable to provide service both to entities
                              within its containment hierarchy, or to other receivers
                              of its service as defined in ways outside the scope of
                              this MIB.
                              
                              A value of 'enabled' means that an entity is fully or
                              partially operable and able to provide service both to
                              
                              
                              entities within its containment hierarchy, or to other
                              receivers of its service as defined in ways outside the
                              scope of this MIB.
                              
                              Note that some implementations may not be able to
                              accurately report entStateOper while the
                              entStateAdmin object has a value other than 'unlocked'.
                              In these cases, this object MUST have a value
                              of 'unknown'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="entStateUsage"
                        type="entity-state:EntityUsageState"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The usage state for this entity.
                              
                              This object refers to an entity's ability to service more
                              physical entities in a containment hierarchy.  A value
                              of 'idle' means this entity is able to contain other
                              entities but that no other entity is currently
                              contained within this entity.
                              
                              A value of 'active' means that at least one entity is
                              contained within this entity, but that it could handle
                              more.  A value of 'busy' means that the entity is unable
                              to handle any additional entities being contained in it.
                              
                              Some entities will exhibit only a subset of the
                              usage state values.  Entities that are unable to ever
                              service any entities within a containment hierarchy will
                              always have a usage state of 'busy'.  Some entities will
                              only ever be able to support one entity within its
                              containment hierarchy and will therefore only exhibit
                              values of 'idle' and 'busy'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="entStateAlarm"
                        type="entity-state:EntityAlarmStatus"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The alarm status for this entity.  It does not include
                              the alarms raised on child components within its
                              containment hierarchy.
                              
                              A value of 'unknown' means that this entity is
                              
                              
                              
                              unable to report alarm state.  Note that this differs
                              from 'indeterminate', which means that alarm state
                              is supported and there are alarms against this entity,
                              but the severity of some of the alarms is not known.
                              
                              If no bits are set, then this entity supports reporting
                              of alarms, but there are currently no active alarms
                              against this entity.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="entStateStandby"
                        type="entity-state:EntityStandbyStatus"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The standby status for this entity.
                              
                              Some entities will exhibit only a subset of the
                              remaining standby state values.  If this entity
                              cannot operate in a standby role, the value of this
                              object will always be 'providingService'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.131.1.1.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.entStateObjects.entStateEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="entStateEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="entPhysicalIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.entStateObjects.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="entStateOperEnabled"
      substitutionGroup="ncn:notificationContent">
      <xs:annotation>
         <xs:documentation>
            An entStateOperEnabled notification signifies that the
            SNMP entity, acting in an agent role, has detected that
            the entStateOper object for one of its entities has
            transitioned into the 'enabled' state.
            
            The entity this notification refers can be identified by
            extracting the entPhysicalIndex from one of the
            variable bindings.  The entStateAdmin and entStateAlarm
            varbinds may be examined to find out additional
            information on the administrative state at the time of
            the operation state change as well as to find out whether
            there were any known alarms against the entity at that
            time that may explain why the physical entity has become
            operationally disabled.
         </xs:documentation>
         <xs:appinfo>
            <smi:oid  smi:oid="1.3.6.1.2.1.131.0.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="ncn:NotificationContentType">
               <xs:sequence>
                  <xs:element name="entStateOperEnabled-entStateAdmin">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="entPhysicalIndex"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    Automagically generated keyref leaf.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                 </xs:appinfo>
                              </xs:annotation>
                              <xs:simpleType/>
                           </xs:element>
                           <xs:element name="entStateAdmin"
                              type="entity-state:EntityAdminState"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    The administrative state for this entity.
                                    
                                    
                                    
                                    This object refers to an entities administrative
                                    permission to service both other entities within
                                    its containment hierarchy as well other users of
                                    its services defined by means outside the scope
                                    of this MIB.
                                    
                                    Setting this object to 'notSupported' will result
                                    in an 'inconsistentValue' error.  For entities that
                                    do not support administrative state, all set
                                    operations will result in an 'inconsistentValue'
                                    error.
                                    
                                    Some physical entities exhibit only a subset of the
                                    remaining administrative state values.  Some entities
                                    cannot be locked, and hence this object exhibits only
                                    the 'unlocked' state.  Other entities cannot be shutdown
                                    gracefully, and hence this object does not exhibit the
                                    'shuttingDown' state.  A value of 'inconsistentValue'
                                    will be returned if attempts are made to set this
                                    object to values not supported by its administrative
                                    model.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                    <smi:oid
                                        smi:oid="1.3.6.1.2.1.131.1.1.1.2"/>
                                 </xs:appinfo>
                              </xs:annotation>
                           </xs:element>
                           <xs:element
                              name="__.entStateOperEnabled.entStateOperEnabled-entStateAdmin.A__"
                              minOccurs="0" maxOccurs="unbounded"
                              abstract="true"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="entStateOperEnabled-entStateAlarm">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="entPhysicalIndex"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    Automagically generated keyref leaf.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                 </xs:appinfo>
                              </xs:annotation>
                              <xs:simpleType/>
                           </xs:element>
                           <xs:element name="entStateAlarm"
                              type="entity-state:EntityAlarmStatus"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    The alarm status for this entity.  It does not include
                                    the alarms raised on child components within its
                                    containment hierarchy.
                                    
                                    A value of 'unknown' means that this entity is
                                    
                                    
                                    
                                    unable to report alarm state.  Note that this differs
                                    from 'indeterminate', which means that alarm state
                                    is supported and there are alarms against this entity,
                                    but the severity of some of the alarms is not known.
                                    
                                    If no bits are set, then this entity supports reporting
                                    of alarms, but there are currently no active alarms
                                    against this entity.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                    <smi:oid
                                        smi:oid="1.3.6.1.2.1.131.1.1.1.5"/>
                                 </xs:appinfo>
                              </xs:annotation>
                           </xs:element>
                           <xs:element
                              name="__.entStateOperEnabled.entStateOperEnabled-entStateAlarm.A__"
                              minOccurs="0" maxOccurs="unbounded"
                              abstract="true"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="__.entStateOperEnabled.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="entStateOperDisabled"
      substitutionGroup="ncn:notificationContent">
      <xs:annotation>
         <xs:documentation>
            An entStateOperDisabled notification signifies that the
            SNMP entity, acting in an agent role, has detected that
            the entStateOper object for one of its entities has
            transitioned into the 'disabled' state.
            
            The entity this notification refers can be identified by
            extracting the entPhysicalIndex from one of the
            variable bindings.  The entStateAdmin and entStateAlarm
            varbinds may be examined to find out additional
            information on the administrative state at the time of
            the operation state change as well as to find out whether
            there were any known alarms against the entity at that
            time that may affect the physical entity's
            ability to stay operationally enabled.
         </xs:documentation>
         <xs:appinfo>
            <smi:oid  smi:oid="1.3.6.1.2.1.131.0.2"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="ncn:NotificationContentType">
               <xs:sequence>
                  <xs:element name="entStateOperDisabled-entStateAdmin">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="entPhysicalIndex"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    Automagically generated keyref leaf.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                 </xs:appinfo>
                              </xs:annotation>
                              <xs:simpleType/>
                           </xs:element>
                           <xs:element name="entStateAdmin"
                              type="entity-state:EntityAdminState"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    The administrative state for this entity.
                                    
                                    
                                    
                                    This object refers to an entities administrative
                                    permission to service both other entities within
                                    its containment hierarchy as well other users of
                                    its services defined by means outside the scope
                                    of this MIB.
                                    
                                    Setting this object to 'notSupported' will result
                                    in an 'inconsistentValue' error.  For entities that
                                    do not support administrative state, all set
                                    operations will result in an 'inconsistentValue'
                                    error.
                                    
                                    Some physical entities exhibit only a subset of the
                                    remaining administrative state values.  Some entities
                                    cannot be locked, and hence this object exhibits only
                                    the 'unlocked' state.  Other entities cannot be shutdown
                                    gracefully, and hence this object does not exhibit the
                                    'shuttingDown' state.  A value of 'inconsistentValue'
                                    will be returned if attempts are made to set this
                                    object to values not supported by its administrative
                                    model.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                    <smi:oid
                                        smi:oid="1.3.6.1.2.1.131.1.1.1.2"/>
                                 </xs:appinfo>
                              </xs:annotation>
                           </xs:element>
                           <xs:element
                              name="__.entStateOperDisabled.entStateOperDisabled-entStateAdmin.A__"
                              minOccurs="0" maxOccurs="unbounded"
                              abstract="true"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="entStateOperDisabled-entStateAlarm">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="entPhysicalIndex"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    Automagically generated keyref leaf.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                 </xs:appinfo>
                              </xs:annotation>
                              <xs:simpleType/>
                           </xs:element>
                           <xs:element name="entStateAlarm"
                              type="entity-state:EntityAlarmStatus"
                              minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>
                                    The alarm status for this entity.  It does not include
                                    the alarms raised on child components within its
                                    containment hierarchy.
                                    
                                    A value of 'unknown' means that this entity is
                                    
                                    
                                    
                                    unable to report alarm state.  Note that this differs
                                    from 'indeterminate', which means that alarm state
                                    is supported and there are alarms against this entity,
                                    but the severity of some of the alarms is not known.
                                    
                                    If no bits are set, then this entity supports reporting
                                    of alarms, but there are currently no active alarms
                                    against this entity.
                                 </xs:documentation>
                                 <xs:appinfo>
                                    <ncx:config>false</ncx:config>
                                    <smi:oid
                                        smi:oid="1.3.6.1.2.1.131.1.1.1.5"/>
                                 </xs:appinfo>
                              </xs:annotation>
                           </xs:element>
                           <xs:element
                              name="__.entStateOperDisabled.entStateOperDisabled-entStateAlarm.A__"
                              minOccurs="0" maxOccurs="unbounded"
                              abstract="true"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="__.entStateOperDisabled.A__"
                     minOccurs="0" maxOccurs="unbounded"
                     abstract="true"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>

</xs:schema>
