ncorg/ncorg/static/xsd/HOST-RESOURCES-MIB_2000-03-06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:HOST-RESOURCES-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:HOST-RESOURCES-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2000-03-06"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:if-mib="urn:ietf:params:xml:ns:yang:smiv2:IF-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'HOST-RESOURCES-MIB.yang' by yangdump version 0.9.2
         
         Module: HOST-RESOURCES-MIB
         Organization: IETF Host Resources MIB Working Group
         Version: 2000-03-06
         Contact: Steve Waldbusser
         Postal: Lucent Technologies, Inc.
         	1213 Innsbruck Dr.
         	Sunnyvale, CA 94089
         	USA
         Phone:  650-318-1251
         Fax:    650-318-1633
         Email:  waldbusser@lucent.com
         
         In addition, the Host Resources MIB mailing list is
         dedicated to discussion of this MIB. To join the
         mailing list, send a request message to
         hostmib-request@andrew.cmu.edu. The mailing list
         address is hostmib@andrew.cmu.edu.
      </xs:documentation>
      <xs:documentation>
         This MIB is for use in managing host systems. The term
         `host' is construed to mean any computer that communicates
         with other similar computers attached to the internet and
         that is directly used by one or more human beings. Although
         this MIB does not necessarily apply to devices whose primary
         function is communications services (e.g., terminal servers,
         routers, bridges, monitoring equipment), such relevance is
         not explicitly precluded.  This MIB instruments attributes
         common to all internet hosts including, for example, both
         personal computers and systems that run variants of Unix.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/./ietf/HOST-RESOURCES-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF Host Resources MIB Working Group
         </ncx:organization>
         <ncx:contact>
            Steve Waldbusser
            Postal: Lucent Technologies, Inc.
            	1213 Innsbruck Dr.
            	Sunnyvale, CA 94089
            	USA
            Phone:  650-318-1251
            Fax:    650-318-1633
            Email:  waldbusser@lucent.com
            
            In addition, the Host Resources MIB mailing list is
            dedicated to discussion of this MIB. To join the
            mailing list, send a request message to
            hostmib-request@andrew.cmu.edu. The mailing list
            address is hostmib@andrew.cmu.edu.
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2000-03-06</ncx:version>
            <ncx:description>
               Clarifications and bug fixes based on implementation
               experience.  This revision was also reformatted in the SMIv2
               format. The revisions made were:
               
               New RFC document standards:
                  Added Copyright notice, updated introduction to SNMP
                  Framework, updated references section, added reference to
                  RFC 2119, and added a meaningful Security Considerations
                  section.
               
               New IANA considerations section for registration of new types
               
               Conversion to new SMIv2 syntax for the following types and
               macros:
                   Counter32, Integer32, Gauge32, MODULE-IDENTITY,
                   OBJECT-TYPE, TEXTUAL-CONVENTION, OBJECT-IDENTITY,
                   MODULE-COMPLIANCE, OBJECT-GROUP
               
               Used new Textual Conventions:
                   TruthValue, DateAndTime, AutonomousType,
                   InterfaceIndexOrZero
               
               Fixed typo in hrPrinterStatus.
               
               Added missing error bits to hrPrinterDetectedErrorState and
               clarified confusion resulting from suggested mappings to
               hrPrinterStatus.
               
               Clarified that size of objects of type
               InternationalDisplayString is number of octets, not number
               of encoded symbols.
               
               Clarified the use of the following objects based on
               implementation experience:
                   hrSystemInitialLoadDevice, hrSystemInitialLoadParameters,
                   hrMemorySize, hrStorageSize, hrStorageAllocationFailures,
                   hrDeviceErrors, hrProcessorLoad, hrNetworkIfIndex,
                   hrDiskStorageCapacity, hrSWRunStatus, hrSWRunPerfCPU,
                   and hrSWInstalledDate.
               
               Clarified implementation technique for hrSWInstalledTable.
               
               Used new AUGMENTS clause for hrSWRunPerfTable.
               
               Added Internationalization Considerations section.
               
               This revision published as RFC2790.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1999-10-20</ncx:version>
            <ncx:description>
               The original version of this MIB, published as
               RFC1514.
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:simpleType name="KBytes">
      <xs:annotation>
         <xs:documentation>
            Storage size, expressed in units of 1024 bytes.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ProductID">
      <xs:annotation>
         <xs:documentation>
            This textual convention is intended to identify the
            
            manufacturer, model, and version of a specific
            hardware or software product.  It is suggested that
            these OBJECT IDENTIFIERs are allocated such that all
            products from a particular manufacturer are registered
            under a subtree distinct to that manufacturer.  In
            addition, all versions of a product should be
            registered under a subtree distinct to that product.
            With this strategy, a management station may uniquely
            determine the manufacturer and/or model of a product
            whose productID is unknown to the management station.
            Objects of this type may be useful for inventory
            purposes or for automatically detecting
            incompatibilities or version mismatches between
            various hardware and software components on a system.
            
            For example, the product ID for the ACME 4860 66MHz
            clock doubled processor might be:
            enterprises.acme.acmeProcessors.a4860DX2.MHz66
            
            A software product might be registered as:
            enterprises.acme.acmeOperatingSystems.acmeDOS.six(6).one(1)
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="yang:object-identifier"/>
   </xs:simpleType>

   <xs:simpleType name="InternationalDisplayString">
      <xs:annotation>
         <xs:documentation>
            This data type is used to model textual information
            in some character set.  A network management station
            should use a local algorithm to determine which
            character set is in use and how it should be
            displayed.  Note that this character set may be
            encoded with more than one octet per symbol, but will
            most often be NVT ASCII. When a size clause is
            specified for an object of this type, the size refers
            to the length in octets, not the number of symbols.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:base64Binary"/>
   </xs:simpleType>

   <xs:element name="hrSystem">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.25.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="hrSystemUptime" type="yang:timeticks"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The amount of time since this host was last
                     initialized.  Note that this is different from
                     sysUpTime in the SNMPv2-MIB [RFC1907] because
                     sysUpTime is the uptime of the network management
                     portion of the system.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrSystemDate" type="smiv2:DateAndTime"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The host's notion of the local date and time of day.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>true</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.2"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrSystemInitialLoadDevice" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The index of the hrDeviceEntry for the device from
                     which this host is configured to load its initial
                     operating system configuration (i.e., which operating
                     system code and/or boot parameters).
                     
                     Note that writing to this object just changes the
                     configuration that will be used the next time the
                     operating system is loaded and does not actually cause
                     the reload to occur.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>true</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.3"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:int">
                     <xs:minInclusive value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="hrSystemInitialLoadParameters"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     This object contains the parameters (e.g. a pathname
                     and parameter) supplied to the load device when
                     requesting the initial operating system configuration
                     from that device.
                     
                     Note that writing to this object just changes the
                     configuration that will be used the next time the
                     operating system is loaded and does not actually cause
                     the reload to occur.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>true</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.4"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="InternationalDisplayString">
                     <xs:maxLength value="128"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="hrSystemNumUsers" type="yang:gauge32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of user sessions for which this host is
                     storing state information.  A session is a collection
                     of processes requiring a single act of user
                     authentication and possibly subject to collective job
                     control.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.5"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrSystemProcesses" type="yang:gauge32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of process contexts currently loaded or
                     running on this system.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.6"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrSystemMaxProcesses" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The maximum number of process contexts this system
                     can support.  If there is no fixed maximum, the value
                     should be zero.  On systems that have a fixed maximum,
                     this object can help diagnose failures that occur when
                     this maximum is reached.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.1.7"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:int">
                     <xs:minInclusive value="0"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="__.hrSystem.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="hrStorage">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.25.2"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="hrMemorySize" type="KBytes" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The amount of physical read-write main memory,
                     typically RAM, contained by the host.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <ncx:units>KBytes</ncx:units>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.2.2"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrStorageEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one logical storage area on
                     the host.  As an example, an instance of the
                     hrStorageType object might be named hrStorageType.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrStorageIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A unique value for each logical storage area
                              contained by the host.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrStorageType"
                        type="smiv2:AutonomousType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of storage represented by this entry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrStorageDescr"
                        type="smiv2:DisplayString" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A description of the type and instance of the storage
                              described by this entry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrStorageAllocationUnits"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The size, in bytes, of the data objects allocated
                              from this pool.  If this entry is monitoring sectors,
                              blocks, buffers, or packets, for example, this number
                              will commonly be greater than one.  Otherwise this
                              number will typically be one.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:units>Bytes</ncx:units>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrStorageSize" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The size of the storage represented by this entry, in
                              units of hrStorageAllocationUnits. This object is
                              writable to allow remote configuration of the size of
                              the storage area in those cases where such an
                              operation makes sense and is possible on the
                              underlying system. For example, the amount of main
                              memory allocated to a buffer pool might be modified or
                              the amount of disk space allocated to virtual memory
                              might be modified.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrStorageUsed" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The amount of the storage represented by this entry
                              that is allocated, in units of
                              hrStorageAllocationUnits.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrStorageAllocationFailures"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of requests for storage represented by
                              this entry that could not be honored due to not enough
                              storage.  It should be noted that as this object has a
                              SYNTAX of Counter32, that it does not have a defined
                              initial value.  However, it is recommended that this
                              object be initialized to zero, even though management
                              stations must not depend on such an initialization.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.2.3.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.hrStorage.hrStorageEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrStorageEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrStorageIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.hrStorage.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="hrDevice">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.25.3"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="hrDeviceEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one device contained by the
                     host.  As an example, an instance of the hrDeviceType
                     object might be named hrDeviceType.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrDeviceIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A unique value for each device contained by the host.
                              The value for each device must remain constant at
                              least from one re-initialization of the agent to the
                              next re-initialization.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrDeviceType"
                        type="smiv2:AutonomousType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An indication of the type of device.
                              
                              If this value is
                              `hrDeviceProcessor { hrDeviceTypes 3 }' then an entry
                              exists in the hrProcessorTable which corresponds to
                              this device.
                              
                              If this value is
                              `hrDeviceNetwork { hrDeviceTypes 4 }', then an entry
                              exists in the hrNetworkTable which corresponds to this
                              device.
                              
                              If this value is
                              `hrDevicePrinter { hrDeviceTypes 5 }', then an entry
                              exists in the hrPrinterTable which corresponds to this
                              device.
                              
                              If this value is
                              `hrDeviceDiskStorage { hrDeviceTypes 6 }', then an
                              entry exists in the hrDiskStorageTable which
                              corresponds to this device.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrDeviceDescr" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A textual description of this device, including the
                              device's manufacturer and revision, and optionally,
                              its serial number.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="smiv2:DisplayString">
                              <xs:maxLength value="64"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrDeviceID" type="ProductID"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The product ID for this device.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrDeviceStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The current operational state of the device described
                              by this row of the table.  A value unknown(1)
                              indicates that the current state of the device is
                              unknown.  running(2) indicates that the device is up
                              and running and that no unusual error conditions are
                              known.  The warning(3) state indicates that agent has
                              been informed of an unusual error condition by the
                              operational software (e.g., a disk device driver) but
                              that the device is still 'operational'.  An example
                              would be a high number of soft errors on a disk.  A
                              value of testing(4), indicates that the device is not
                              available for use because it is in the testing state.
                              The state of down(5) is used only when the agent has
                              been informed that the device is not available for any
                              use.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="unknown">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="running">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="warning">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="testing">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="down">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrDeviceErrors"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of errors detected on this device.  It
                              should be noted that as this object has a SYNTAX of
                              Counter32, that it does not have a defined initial
                              value.  However, it is recommended that this object be
                              initialized to zero, even though management stations
                              must not depend on such an initialization.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.2.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.hrDevice.hrDeviceEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrDeviceEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrDeviceIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="hrProcessorEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one processor contained by
                     the host.  The hrDeviceIndex in the index represents
                     the entry in the hrDeviceTable that corresponds to the
                     hrProcessorEntry.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrProcessorFrwID object might be
                     named hrProcessorFrwID.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.3.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrDeviceIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="hrProcessorFrwID"
                        type="ProductID" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The product ID of the firmware associated with the
                              processor.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.3.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrProcessorLoad" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The average, over the last minute, of the percentage
                              of time that this processor was not idle.
                              Implementations may approximate this one minute
                              smoothing period if necessary.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.3.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                              <xs:maxInclusive value="100"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element
                        name="__.hrDevice.hrProcessorEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrProcessorEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrDeviceIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="hrNetworkEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one network device contained
                     by the host.  The hrDeviceIndex in the index
                     represents the entry in the hrDeviceTable that
                     corresponds to the hrNetworkEntry.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrNetworkIfIndex object might be
                     named hrNetworkIfIndex.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.4.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrDeviceIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="hrNetworkIfIndex"
                        type="if-mib:InterfaceIndexOrZero"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of ifIndex which corresponds to this
                              network device. If this device is not represented in
                              the ifTable, then this value shall be zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.4.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.hrDevice.hrNetworkEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrNetworkEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrDeviceIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="hrPrinterEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one printer local to the
                     host.  The hrDeviceIndex in the index represents the
                     entry in the hrDeviceTable that corresponds to the
                     hrPrinterEntry.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrPrinterStatus object might be
                     named hrPrinterStatus.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.5.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrDeviceIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="hrPrinterStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The current status of this printer device.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.5.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="unknown">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="idle">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="printing">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="warmup">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrPrinterDetectedErrorState"
                        type="xs:base64Binary" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object represents any error conditions detected
                              by the printer.  The error conditions are encoded as
                              bits in an octet string, with the following
                              definitions:
                              
                                   Condition         Bit #
                              
                                   lowPaper              0
                              
                                   noPaper               1
                                   lowToner              2
                                   noToner               3
                                   doorOpen              4
                                   jammed                5
                                   offline               6
                                   serviceRequested      7
                                   inputTrayMissing      8
                                   outputTrayMissing     9
                                   markerSupplyMissing  10
                                   outputNearFull       11
                                   outputFull           12
                                   inputTrayEmpty       13
                                   overduePreventMaint  14
                              
                              Bits are numbered starting with the most significant
                              bit of the first byte being bit 0, the least
                              significant bit of the first byte being bit 7, the
                              most significant bit of the second byte being bit 8,
                              and so on.  A one bit encodes that the condition was
                              detected, while a zero bit encodes that the condition
                              was not detected.
                              
                              This object is useful for alerting an operator to
                              specific warning or error conditions that may occur,
                              especially those requiring human intervention.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.5.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.hrDevice.hrPrinterEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrPrinterEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrDeviceIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="hrDiskStorageEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one long-term storage device
                     contained by the host.  The hrDeviceIndex in the index
                     represents the entry in the hrDeviceTable that
                     corresponds to the hrDiskStorageEntry. As an example,
                     an instance of the hrDiskStorageCapacity object might
                     be named hrDiskStorageCapacity.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.6.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrDeviceIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="hrDiskStorageAccess"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An indication if this long-term storage device is
                              readable and writable or only readable.  This should
                              reflect the media type, any write-protect mechanism,
                              and any device configuration that affects the entire
                              device.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.6.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="readWrite">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="readOnly">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrDiskStorageMedia"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An indication of the type of media used in this long-
                              term storage device.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.6.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="unknown">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="hardDisk">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="floppyDisk">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="opticalDiskROM">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="opticalDiskWORM">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>6</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="opticalDiskRW">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>7</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ramDisk">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>8</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrDiskStorageRemoveble"
                        type="smiv2:TruthValue" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              Denotes whether or not the disk media may be removed
                              from the drive.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.6.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrDiskStorageCapacity"
                        type="KBytes" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The total size for this long-term storage device. If
                              the media is removable and is currently removed, this
                              value should be zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:units>KBytes</ncx:units>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.6.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.hrDevice.hrDiskStorageEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrDiskStorageEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrDeviceIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="hrPartitionEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one partition.  The
                     hrDeviceIndex in the index represents the entry in the
                     hrDeviceTable that corresponds to the
                     hrPartitionEntry.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrPartitionSize object might be
                     named hrPartitionSize.3.1
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.7.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrDeviceIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="hrPartitionIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A unique value for each partition on this long-term
                              storage device.  The value for each long-term storage
                              device must remain constant at least from one re-
                              initialization of the agent to the next re-
                              initialization.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.7.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrPartitionLabel" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A textual description of this partition.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.7.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="128"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrPartitionID"
                        type="xs:base64Binary" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A descriptor which uniquely represents this partition
                              to the responsible operating system.  On some systems,
                              this might take on a binary representation.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.7.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrPartitionSize" type="KBytes"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The size of this partition.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:units>KBytes</ncx:units>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.7.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrPartitionFSIndex"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The index of the file system mounted on this
                              partition.  If no file system is mounted on this
                              partition, then this value shall be zero.  Note that
                              multiple partitions may point to one file system,
                              denoting that that file system resides on those
                              partitions.  Multiple file systems may not reside on
                              one partition.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.7.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element
                        name="__.hrDevice.hrPartitionEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrPartitionEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrDeviceIndex"/>
                  <xs:field xpath="hrPartitionIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="hrFSEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one file system local to
                     this host or remotely mounted from a file server.
                     File systems that are in only one user's environment
                     on a multi-user system will not be included in this
                     table.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrFSMountPoint object might be
                     named hrFSMountPoint.3
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrFSIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A unique value for each file system local to this
                              host.  The value for each file system must remain
                              constant at least from one re-initialization of the
                              agent to the next re-initialization.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrFSMountPoint" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The path name of the root of this file system.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="128"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrFSRemoteMountPoint"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A description of the name and/or address of the
                              server that this file system is mounted from.  This
                              may also include parameters such as the mount point on
                              the remote file system.  If this is not a remote file
                              system, this string should have a length of zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="128"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrFSType"
                        type="smiv2:AutonomousType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of this object identifies the type of this
                              file system.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrFSAccess" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An indication if this file system is logically
                              configured by the operating system to be readable and
                              writable or only readable.  This does not represent
                              any local access-control policy, except one that is
                              applied to the file system as a whole.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="readWrite">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="readOnly">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrFSBootable"
                        type="smiv2:TruthValue" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A flag indicating whether this file system is
                              bootable.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrFSStorageIndex" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The index of the hrStorageEntry that represents
                              information about this file system.  If there is no
                              such information available, then this value shall be
                              zero.  The relevant storage entry will be useful in
                              tracking the percent usage of this file system and
                              diagnosing errors that may occur when it runs out of
                              space.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrFSLastFullBackupDate"
                        type="smiv2:DateAndTime" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The last date at which this complete file system was
                              
                              copied to another storage device for backup.  This
                              information is useful for ensuring that backups are
                              being performed regularly.
                              
                              If this information is not known, then this variable
                              shall have the value corresponding to January 1, year
                              0000, 00:00:00.0, which is encoded as
                              (hex)'00 00 01 01 00 00 00 00'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrFSLastPartialBackupDate"
                        type="smiv2:DateAndTime" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The last date at which a portion of this file system
                              was copied to another storage device for backup.  This
                              information is useful for ensuring that backups are
                              being performed regularly.
                              
                              If this information is not known, then this variable
                              shall have the value corresponding to January 1, year
                              0000, 00:00:00.0, which is encoded as
                              (hex)'00 00 01 01 00 00 00 00'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.3.8.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.hrDevice.hrFSEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrFSEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrFSIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.hrDevice.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="hrSWRun">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.25.4"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="hrSWOSIndex" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The value of the hrSWRunIndex for the hrSWRunEntry
                     that represents the primary operating system running
                     on this host.  This object is useful for quickly and
                     uniquely identifying that primary operating system.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.4.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:simpleType>
                  <xs:restriction base="xs:int">
                     <xs:minInclusive value="1"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="hrSWRunEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for one piece of software
                     running on the host Note that because the installed
                     software table only contains information for software
                     stored locally on this host, not every piece of
                     running software will be found in the installed
                     software table.  This is true of software that was
                     loaded and run from a non-local source, such as a
                     network-mounted file system.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrSWRunName object might be named
                     hrSWRunName.1287
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrSWRunIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A unique value for each piece of software running on
                              the host.  Wherever possible, this should be the
                              system's native, unique identification number.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunName" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A textual description of this running piece of
                              software, including the manufacturer, revision,  and
                              the name by which it is commonly known.  If this
                              software was installed locally, this should be the
                              same string as used in the corresponding
                              hrSWInstalledName.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="64"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunID" type="ProductID"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The product ID of this running piece of software.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrSWRunPath" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A description of the location on long-term storage
                              (e.g. a disk drive) from which this software was
                              loaded.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="128"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunParameters" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A description of the parameters supplied to this
                              software when it was initially loaded.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="128"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of this software.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="unknown">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="operatingSystem">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="deviceDriver">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="application">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The status of this running piece of software.
                              Setting this value to invalid(4) shall cause this
                              software to stop running and to be unloaded. Sets to
                              other values are not valid.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.4.2.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="running">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="runnable">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="notRunnable">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="invalid">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunPerfCPU" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of centi-seconds of the total system's CPU
                              resources consumed by this process.  Note that on a
                              multi-processor system, this value may increment by
                              more than one centi-second in one centi-second of real
                              (wall clock) time.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:oid>
                                 1.3.6.1.2.1.25.5.1.1.1
                              </ncx:oid>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWRunPerfMem" type="KBytes"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The total amount of real system memory allocated to
                              this process.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:units>KBytes</ncx:units>
                              <ncx:oid>
                                 1.3.6.1.2.1.25.5.1.1.2
                              </ncx:oid>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.hrSWRun.hrSWRunEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrSWRunEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrSWRunIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.hrSWRun.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="hrSWRunPerf">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.25.5"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="__.hrSWRunPerf.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="hrSWInstalled">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.25.6"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="hrSWInstalledLastChange"
               type="yang:timeticks" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The value of sysUpTime when an entry in the
                     hrSWInstalledTable was last added, renamed, or
                     deleted.  Because this table is likely to contain many
                     entries, polling of this object allows a management
                     station to determine when re-downloading of the table
                     might be useful.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.6.1"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrSWInstalledLastUpdateTime"
               type="yang:timeticks" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The value of sysUpTime when the hrSWInstalledTable
                     was last completely updated.  Because caching of this
                     data will be a popular implementation strategy,
                     retrieval of this object allows a management station
                     to obtain a guarantee that no data in this table is
                     older than the indicated time.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.6.2"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="hrSWInstalledEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A (conceptual) entry for a piece of software
                     installed on this host.
                     
                     As an example of how objects in this table are named,
                     an instance of the hrSWInstalledName object might be
                     named hrSWInstalledName.96
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.25.6.3.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="hrSWInstalledIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A unique value for each piece of software installed
                              on the host.  This value shall be in the range from 1
                              to the number of pieces of software installed on the
                              host.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.6.3.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWInstalledName" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A textual description of this installed piece of
                              software, including the manufacturer, revision, the
                              name by which it is commonly known, and optionally,
                              its serial number.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.6.3.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="InternationalDisplayString">
                              <xs:maxLength value="64"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWInstalledID"
                        type="ProductID" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The product ID of this installed piece of software.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.6.3.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="hrSWInstalledType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of this software.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.6.3.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="unknown">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="operatingSystem">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="deviceDriver">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="application">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hrSWInstalledDate"
                        type="smiv2:DateAndTime" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The last-modification date of this application as it
                              would appear in a directory listing.
                              
                              If this information is not known, then this variable
                              shall have the value corresponding to January 1, year
                              0000, 00:00:00.0, which is encoded as
                              (hex)'00 00 01 01 00 00 00 00'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.25.6.3.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.hrSWInstalled.hrSWInstalledEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="hrSWInstalledEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="hrSWInstalledIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.hrSWInstalled.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
