ncorg/ncorg/static/xsd/inet-types_2007-10-02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:inet-types"
   targetNamespace="urn:ietf:params:xml:ns:yang:inet-types"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2007-10-02"
   xmlns:ncx="http://netconfcentral.com/ncx">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'inet-types.yang' by yangdump version 0.9.2
         
         Module: inet-types
         Organization: YANG Language Design Team
         Version: 2007-10-02
         Contact: Martin Bjorklund (Editor) &lt;mbj@tail-f.com&gt;
      </xs:documentation>
      <xs:documentation>
         This module contains standard derived YANG types
         for Internet addresses and related things.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/yang/inet-types.yang
         </ncx:source>
         <ncx:organization>
            YANG Language Design Team
         </ncx:organization>
         <ncx:contact>
            Martin Bjorklund (Editor) &lt;mbj@tail-f.com&gt;
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2007-10-02</ncx:version>
            <ncx:description>Initial revision.</ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:simpleType name="ip-version">
      <xs:annotation>
         <xs:documentation>
            This value represents the version of the IP protocol.
         </xs:documentation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>
                  RFC 791 (STD 5), RFC 2460
               </ncx:text>
               <ncx:url>
                  http://www.ietf.org/rfc/rfc0791.txt
               </ncx:url>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="unknown">
            <xs:annotation>
               <xs:documentation>
                  An unknown or unspecified version of the 
                  Internet protocol.
               </xs:documentation>
               <xs:appinfo>
                  <ncx:value>0</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ipv4">
            <xs:annotation>
               <xs:documentation>
                  The IPv4 protocol as defined in RFC 791.
               </xs:documentation>
               <xs:appinfo>
                  <ncx:value>1</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ipv6">
            <xs:annotation>
               <xs:documentation>
                  The IPv6 protocol as defined in RFC 2460.
               </xs:documentation>
               <xs:appinfo>
                  <ncx:value>2</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="dscp">
      <xs:annotation>
         <xs:documentation>
            The dscp type represents a Differentiated Services
            Code-Point that may be used for marking a traffic
            stream.
         </xs:documentation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>
                  RFC 3289, RFC 2474, RFC 2780
               </ncx:text>
               <ncx:url>
                  http://www.ietf.org/rfc/rfc3289.txt
               </ncx:url>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte">
         <xs:maxInclusive value="63"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="flow-label">
      <xs:annotation>
         <xs:documentation>
            The flow-label type represents flow identifier or 
            Flow Label in an IPv6 packet header that may be 
            used to discriminate traffic flows.
         </xs:documentation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>RFC 2460</ncx:text>
               <ncx:url>
                  http://www.ietf.org/rfc/rfc2460.txt
               </ncx:url>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedInt">
         <xs:maxInclusive value="1048575"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="port-number">
      <xs:annotation>
         <xs:documentation>
            The port-number type represents a 16-bit port
            number of an Internet transport layer protocol
            such as UDP, TCP, DCCP or SCTP. Port numbers are
            assigned by IANA.  A current list of all 
            assignments is available from
            &lt;http://www.iana.org/&gt;.
            
            Note that the value zero is not a valid port
            number. A union type might be used in situations
            where the value zero is meaningful.
         </xs:documentation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>RFC 4001</ncx:text>
               <ncx:url>
                  http://www.ietf.org/rfc/rfc4001.txt
               </ncx:url>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedShort">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="asn">
      <xs:annotation>
         <xs:documentation>
            The asn type represents autonomous system numbers which
            identify an Autonomous System (AS). An AS is a set of
            routers under a single technical administration, using an
            interior gateway protocol and common metrics to route
            packets within the AS, and using an exterior gateway
            protocol to route packets to other ASs'. IANA maintains
            the AS number space and has delegated large parts to the
            regional registries.
            
            Autonomous system numbers are currently limited to 16 bits
            (0..65535). There is however work in progress to enlarge
            the autonomous system number space to 32 bits. This
            textual convention therefore uses an uint32 base type
            without a range restriction in order to support a larger
            autonomous system number space.
         </xs:documentation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>
                  RFC 1771, RFC 1930, RFC 4001
               </ncx:text>
               <ncx:url>
                  http://www.ietf.org/rfc/rfc1771.txt
               </ncx:url>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedInt"/>
   </xs:simpleType>

   <xs:simpleType name="ip-address">
      <xs:annotation>
         <xs:documentation>
            The ip-address type represents an IP address and
            is IP version neutral. The format of the textual
            representations implies the IP version.
         </xs:documentation>
      </xs:annotation>
      <xs:union memberTypes="ipv4-address ipv6-address"/>
   </xs:simpleType>

   <xs:simpleType name="ipv4-address">
      <xs:annotation>
         <xs:documentation>
            The ipv4-address type represents an IPv4 address in
            dotted-quad notation. The IPv4 address may include
            a zone index, separated by a % sign.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern
            value="(([0-1]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-1]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])(%[\p{N}\p{L}]+)?"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ipv6-address">
      <xs:annotation>
         <xs:documentation>
            The ipv6-address type represents an IPv6 address in
            full, mixed, shortened and shortened mixed notation.
            The IPv6 address may include a zone index, separated
            by a % sign.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern
            value="((([0-9a-fA-F]{1,4}:){7})([0-9a-fA-F]{1,4})(%[\p{N}\p{L}]+)?)|((([0-9a-fA-F]{1,4}:){6})(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(%[\p{N}\p{L}]+)?)|((([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(::)(([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(%[\p{N}\p{L}]+)?)((([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(::)(([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(%[\p{N}\p{L}]+)?)"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ip-prefix">
      <xs:annotation>
         <xs:documentation>
            The ip-prefix type represents an IP prefix and
            is IP version neutral. The format of the textual
            representations implies the IP version.
         </xs:documentation>
      </xs:annotation>
      <xs:union memberTypes="ipv4-prefix ipv6-prefix"/>
   </xs:simpleType>

   <xs:simpleType name="ipv4-prefix">
      <xs:annotation>
         <xs:documentation>
            The ipv4-prefix type represents an IPv4 address prefix.
            The prefix length is given by the number following the
            slash character and must be less than or equal 32. 
            Values larger than 32 should be treated as 32.
            
            A prefix length value of n corresponds to an IP address
            mask which has n contiguous 1-bits from the most
            significant bit (MSB) and all other bits set to 0.
            
            The IPv4 address represented in dotted quad notation 
            should have all bits that do not belong to the prefix
            set to zero.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern
            value="(([0-1]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-1]?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])/\p{N}+"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ipv6-prefix">
      <xs:annotation>
         <xs:documentation>
            The ipv6-prefix type represents an IPv6 address prefix.
            The prefix length is given by the number following the
            slash character and must be less than or equal 128. 
            Values larger than 128 should be treated as 128.
            
            A prefix length value of n corresponds to an IP address
            mask which has n contiguous 1-bits from the most
            significant bit (MSB) and all other bits set to 0.
            
            The IPv6 address represented in dotted quad notation 
            should have all bits that do not belong to the prefix
            set to zero.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern
            value="((([0-9a-fA-F]{1,4}:){7})([0-9a-fA-F]{1,4})/\p{N}+)|((([0-9a-fA-F]{1,4}:){6})(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))/\p{N}+)|((([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(::)(([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*/\p{N}+)((([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(::)(([0-9a-fA-F]{1,4}:)*([0-9a-fA-F]{1,4}))*(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))/\p{N}+)"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="domain-name">
      <xs:annotation>
         <xs:documentation>
            The domain-name type represents a DNS domain
            name. The name SHOULD be fully qualified
            whenever possible.
            
            The description clause of objects using the
            domain-name type MUST describe how (and when)
            these names are resolved to IP addresses.
            
            Note that the resolution of a domain-name value 
            may require to query multiple DNS records (e.g.,
            A for IPv4 and AAAA for IPv6).  The order of the
            resolution process and which DNS record takes
            precedence depends on the configuration of the
            resolver.
         </xs:documentation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>RFC 1034</ncx:text>
               <ncx:url>
                  http://www.ietf.org/rfc/rfc1034.txt
               </ncx:url>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([\p{L}\p{N}]+\.)*[\p{L}\p{N}]"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="host">
      <xs:annotation>
         <xs:documentation>
            The host type represents either an IP address
            or a DNS domain name.
         </xs:documentation>
      </xs:annotation>
      <xs:union memberTypes="ip-address domain-name"/>
   </xs:simpleType>

</xs:schema>
