ncorg/ncorg/static/xsd/IP-FORWARD-MIB_2006-02-01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:IP-FORWARD-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:IP-FORWARD-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2006-02-01"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:iana-rtproto="urn:ietf:params:xml:ns:yang:smiv2:IANA-RTPROTO-MIB"
   xmlns:if-mib="urn:ietf:params:xml:ns:yang:smiv2:IF-MIB"
   xmlns:inet-address="urn:ietf:params:xml:ns:yang:smiv2:INET-ADDRESS-MIB"
   xmlns:ip-mib="urn:ietf:params:xml:ns:yang:smiv2:IP-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:inet="urn:ietf:params:xml:ns:yang:inet-types"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'IP-FORWARD-MIB.yang' by yangdump version 0.9.3
         
         Module: IP-FORWARD-MIB
         Organization: IETF IPv6 Working Group
         http://www.ietf.org/html.charters/ipv6-charter.html
         Version: 2006-02-01
         Contact: Editor:
         Brian Haberman
         Johns Hopkins University - Applied Physics Laboratory
         Mailstop 17-S442
         11100 Johns Hopkins Road
         Laurel MD,  20723-6099  USA
         
         Phone: +1-443-778-1319
         Email: brian@innovationslab.net
         
         Send comments to &lt;ipv6@ietf.org&gt;
      </xs:documentation>
      <xs:documentation>
         The MIB module for the management of CIDR multipath IP
         Routes.
         
         Copyright (C) The Internet Society (2006).  This version
         of this MIB module is a part of RFC 4292; see the RFC
         itself for full legal notices.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/./ietf/IP-FORWARD-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF IPv6 Working Group
            http://www.ietf.org/html.charters/ipv6-charter.html
         </ncx:organization>
         <ncx:contact>
            Editor:
            Brian Haberman
            Johns Hopkins University - Applied Physics Laboratory
            Mailstop 17-S442
            11100 Johns Hopkins Road
            Laurel MD,  20723-6099  USA
            
            Phone: +1-443-778-1319
            Email: brian@innovationslab.net
            
            Send comments to &lt;ipv6@ietf.org&gt;
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2006-02-01</ncx:version>
            <ncx:description>
               IPv4/v6 version-independent revision.  Minimal changes
               were made to the original RFC 2096 MIB to allow easy
               upgrade of existing IPv4 implementations to the
               version-independent MIB.  These changes include:
               
               Adding inetCidrRouteDiscards as a replacement for the
               deprecated ipRoutingDiscards and ipv6DiscardedRoutes
               objects.
               
               Adding a new conformance statement to support the
               implementation of the IP Forwarding MIB in a
               read-only mode.
               
               
               
               
               The inetCidrRouteTable replaces the IPv4-specific
               ipCidrRouteTable, its related objects, and related
               conformance statements.
               
               Published as RFC 4292.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1996-09-19</ncx:version>
            <ncx:description>
               Revised to support CIDR routes.
               Published as RFC 2096.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1992-07-02</ncx:version>
            <ncx:description>
               Initial version, published as RFC 1354.
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="ipForward">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.4.24"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ipForwardNumber" type="yang:gauge32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of current ipForwardTable entries that are
                     not invalid.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:status>obsolete</ncx:status>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.1"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="ipForwardEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A particular route to a particular destination, under a
                     particular policy.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:status>obsolete</ncx:status>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ipForwardDest"
                        type="inet:ipv4-address">
                        <xs:annotation>
                           <xs:documentation>
                              The destination IP address of this route.  An entry
                              with a value of 0.0.0.0 is considered a default route.
                              
                              This object may not take a Multicast (Class D) address
                              value.
                              
                              Any assignment (implicit or otherwise) of an instance
                              of this object to a value x must be rejected if the
                              bitwise logical-AND of x with the value of the
                              corresponding instance of the ipForwardMask object is
                              not equal to x.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardProto">
                        <xs:annotation>
                           <xs:documentation>
                              The routing mechanism via which this route was learned.
                              Inclusion of values for gateway routing protocols is
                              not intended to imply that hosts should support those
                              protocols.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="local">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="netmgmt">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="icmp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="egp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ggp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>6</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="hello">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>7</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="rip">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>8</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="is-is">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>9</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="es-is">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>10</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ciscoIgrp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>11</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="bbnSpfIgp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>12</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ospf">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>13</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="bgp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>14</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="idpr">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>15</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ipForwardPolicy">
                        <xs:annotation>
                           <xs:documentation>
                              The general set of conditions that would cause
                              the selection of one multipath route (set of
                              next hops for a given destination) is referred
                              to as 'policy'.
                              
                              Unless the mechanism indicated by ipForwardProto
                              specifies otherwise, the policy specifier is
                              the IP TOS Field.  The encoding of IP TOS is as
                              specified by the following convention.  Zero
                              indicates the default path if no more specific
                              policy applies.
                              
                              +-----+-----+-----+-----+-----+-----+-----+-----+
                              |                 |                       |     |
                              |   PRECEDENCE    |    TYPE OF SERVICE    |  0  |
                              |                 |                       |     |
                              +-----+-----+-----+-----+-----+-----+-----+-----+
                              
                              
                              
                              	     IP TOS                IP TOS
                                 Field     Policy      Field     Policy
                                 Contents    Code      Contents    Code
                                 0 0 0 0  ==&gt;   0      0 0 0 1  ==&gt;   2
                                 0 0 1 0  ==&gt;   4      0 0 1 1  ==&gt;   6
                                 0 1 0 0  ==&gt;   8      0 1 0 1  ==&gt;  10
                                 0 1 1 0  ==&gt;  12      0 1 1 1  ==&gt;  14
                                 1 0 0 0  ==&gt;  16      1 0 0 1  ==&gt;  18
                                 1 0 1 0  ==&gt;  20      1 0 1 1  ==&gt;  22
                                 1 1 0 0  ==&gt;  24      1 1 0 1  ==&gt;  26
                                 1 1 1 0  ==&gt;  28      1 1 1 1  ==&gt;  30
                              
                              Protocols defining 'policy' otherwise must either
                              define a set of values that are valid for
                              this object or must implement an integer-instanced
                              policy table for which this object's
                              value acts as an index.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ipForwardNextHop"
                        type="inet:ipv4-address">
                        <xs:annotation>
                           <xs:documentation>
                              On remote routes, the address of the next system en
                              route; otherwise, 0.0.0.0.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardMask"
                        type="inet:ipv4-address" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              Indicate the mask to be logical-ANDed with the
                              destination address before being compared to the value
                              in the ipForwardDest field.  For those systems that do
                              not support arbitrary subnet masks, an agent constructs
                              the value of the ipForwardMask by reference to the IP
                              Address Class.
                              
                              Any assignment (implicit or otherwise) of an instance
                              of this object to a value x must be rejected if the
                              bitwise logical-AND of x with the value of the
                              corresponding instance of the ipForwardDest object is
                              not equal to ipForwardDest.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0x00000000"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardIfIndex" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The ifIndex value that identifies the local interface
                              through which the next hop of this route should be
                              reached.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of route.  Note that local(3) refers to a
                              route for which the next hop is the final destination;
                              remote(4) refers to a route for which the next hop is
                              not the final destination.
                              
                              Setting this object to the value invalid(2) has the
                              effect of invalidating the corresponding entry in the
                              ipForwardTable object.  That is, it effectively
                              disassociates the destination identified with said
                              entry from the route identified with said entry.  It is
                              an implementation-specific matter as to whether the
                              agent removes an invalidated entry from the table.
                              Accordingly, management stations must be prepared to
                              receive tabular information from agents that
                              corresponds to entries not currently in use.  Proper
                              interpretation of such entries requires examination of
                              the relevant ipForwardType object.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="invalid"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="invalid">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="local">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="remote">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ipForwardAge" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of seconds since this route was last updated
                              or otherwise determined to be correct.  Note that no
                              semantics of `too old' can be implied except through
                              knowledge of the routing protocol by which the route
                              was learned.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardInfo"
                        type="yang:object-identifier" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A reference to MIB definitions specific to the
                              particular routing protocol that is responsible for
                              this route, as determined by the value specified in the
                              route's ipForwardProto value.  If this information is
                              not present, its value should be set to the OBJECT
                              IDENTIFIER { 0 0 }, which is a syntactically valid
                              object identifier, and any implementation conforming to
                              ASN.1 and the Basic Encoding Rules must be able to
                              generate and recognize this value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardNextHopAS"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The Autonomous System Number of the Next Hop.  When
                              this is unknown or not relevant to the protocol
                              indicated by ipForwardProto, zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.10"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardMetric1" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The primary routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipForwardProto value.
                              If this metric is not used, its value should be set to
                              -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.11"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardMetric2" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipForwardProto value.
                              If this metric is not used, its value should be set to
                              -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.12"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardMetric3" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipForwardProto value.
                              If this metric is not used, its value should be set to
                              -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.13"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardMetric4" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipForwardProto value.
                              If this metric is not used, its value should be set to
                              -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.14"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipForwardMetric5" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipForwardProto value.
                              If this metric is not used, its value should be set to
                              -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>obsolete</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.2.1.15"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.ipForward.ipForwardEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="ipForwardEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="ipForwardDest"/>
                  <xs:field xpath="ipForwardProto"/>
                  <xs:field xpath="ipForwardPolicy"/>
                  <xs:field xpath="ipForwardNextHop"/>
               </xs:key>
            </xs:element>
            <xs:element name="ipCidrRouteNumber" type="yang:gauge32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of current ipCidrRouteTable entries that are
                     not invalid.  This object is deprecated in favor of
                     inetCidrRouteNumber and the inetCidrRouteTable.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:status>deprecated</ncx:status>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.3"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="ipCidrRouteEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A particular route to a particular destination, under a
                     
                     
                     
                     particular policy.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:status>deprecated</ncx:status>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ipCidrRouteDest"
                        type="inet:ipv4-address">
                        <xs:annotation>
                           <xs:documentation>
                              The destination IP address of this route.
                              
                              This object may not take a Multicast (Class D) address
                              value.
                              
                              Any assignment (implicit or otherwise) of an instance
                              of this object to a value x must be rejected if the
                              bitwise logical-AND of x with the value of the
                              corresponding instance of the ipCidrRouteMask object is
                              not equal to x.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteMask"
                        type="inet:ipv4-address">
                        <xs:annotation>
                           <xs:documentation>
                              Indicate the mask to be logical-ANDed with the
                              destination address before being compared to the value
                              in the ipCidrRouteDest field.  For those systems that
                              do not support arbitrary subnet masks, an agent
                              constructs the value of the ipCidrRouteMask by
                              reference to the IP Address Class.
                              
                              Any assignment (implicit or otherwise) of an instance
                              of this object to a value x must be rejected if the
                              bitwise logical-AND of x with the value of the
                              corresponding instance of the ipCidrRouteDest object is
                              not equal to ipCidrRouteDest.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteTos">
                        <xs:annotation>
                           <xs:documentation>
                              The policy specifier is the IP TOS Field.  The encoding
                              of IP TOS is as specified by the following convention.
                              Zero indicates the default path if no more specific
                              policy applies.
                              
                              +-----+-----+-----+-----+-----+-----+-----+-----+
                              |                 |                       |     |
                              |   PRECEDENCE    |    TYPE OF SERVICE    |  0  |
                              |                 |                       |     |
                              +-----+-----+-----+-----+-----+-----+-----+-----+
                              
                              	     IP TOS                IP TOS
                                 Field     Policy      Field     Policy
                                 Contents    Code      Contents    Code
                                 0 0 0 0  ==&gt;   0      0 0 0 1  ==&gt;   2
                                 0 0 1 0  ==&gt;   4      0 0 1 1  ==&gt;   6
                                 0 1 0 0  ==&gt;   8      0 1 0 1  ==&gt;  10
                                 0 1 1 0  ==&gt;  12      0 1 1 1  ==&gt;  14
                                 1 0 0 0  ==&gt;  16      1 0 0 1  ==&gt;  18
                                 1 0 1 0  ==&gt;  20      1 0 1 1  ==&gt;  22
                              
                              
                              
                                 1 1 0 0  ==&gt;  24      1 1 0 1  ==&gt;  26
                                 1 1 1 0  ==&gt;  28      1 1 1 1  ==&gt;  30
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ipCidrRouteNextHop"
                        type="inet:ipv4-address">
                        <xs:annotation>
                           <xs:documentation>
                              On remote routes, the address of the next system en
                              route; Otherwise, 0.0.0.0.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteIfIndex"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The ifIndex value that identifies the local interface
                              through which the next hop of this route should be
                              reached.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of route.  Note that local(3) refers to a
                              route for which the next hop is the final destination;
                              remote(4) refers to a route for which the next hop is
                              not the final destination.
                              
                              Routes that do not result in traffic forwarding or
                              rejection should not be displayed, even if the
                              implementation keeps them stored internally.
                              
                              reject (2) refers to a route that, if matched,
                              discards the message as unreachable.  This is used in
                              some protocols as a means of correctly aggregating
                              routes.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="reject">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="local">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="remote">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ipCidrRouteProto" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The routing mechanism via which this route was learned.
                              Inclusion of values for gateway routing protocols is
                              not intended to imply that hosts should support those
                              protocols.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="local">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="netmgmt">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="icmp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="egp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ggp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>6</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="hello">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>7</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="rip">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>8</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="isIs">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>9</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="esIs">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>10</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ciscoIgrp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>11</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="bbnSpfIgp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>12</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ospf">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>13</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="bgp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>14</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="idpr">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>15</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ciscoEigrp">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>16</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="ipCidrRouteAge" type="xs:int"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of seconds since this route was last updated
                              or otherwise determined to be correct.  Note that no
                              semantics of `too old' can be implied, except through
                              knowledge of the routing protocol by which the route
                              was learned.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteInfo"
                        type="yang:object-identifier" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A reference to MIB definitions specific to the
                              particular routing protocol that is responsible for
                              this route, as determined by the value specified in the
                              route's ipCidrRouteProto value.  If this information is
                              not present, its value should be set to the OBJECT
                              IDENTIFIER { 0 0 }, which is a syntactically valid
                              object identifier, and any implementation conforming to
                              ASN.1 and the Basic Encoding Rules must be able to
                              generate and recognize this value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteNextHopAS"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The Autonomous System Number of the Next Hop.  The
                              semantics of this object are determined by the routing-
                              protocol specified in the route's ipCidrRouteProto
                              value.  When this object is unknown or not relevant, its
                              value should be set to zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.10"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteMetric1"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The primary routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.11"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteMetric2"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipCidrRouteProto
                              value.  If this metric is not used, its value should be
                              
                              
                              
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.12"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteMetric3"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.13"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteMetric4"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.14"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteMetric5"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's ipCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.15"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="ipCidrRouteStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The row status variable, used according to row
                              installation and removal conventions.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.4.1.16"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.ipForward.ipCidrRouteEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="ipCidrRouteEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="ipCidrRouteDest"/>
                  <xs:field xpath="ipCidrRouteMask"/>
                  <xs:field xpath="ipCidrRouteTos"/>
                  <xs:field xpath="ipCidrRouteNextHop"/>
               </xs:key>
            </xs:element>
            <xs:element name="inetCidrRouteNumber" type="yang:gauge32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of current inetCidrRouteTable entries that
                     are not invalid.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.6"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="inetCidrRouteEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A particular route to a particular destination, under a
                     particular policy (as reflected in the
                     inetCidrRoutePolicy object).
                     
                     Dynamically created rows will survive an agent reboot.
                     
                     Implementers need to be aware that if the total number
                     of elements (octets or sub-identifiers) in
                     inetCidrRouteDest, inetCidrRoutePolicy, and
                     inetCidrRouteNextHop exceeds 111, then OIDs of column
                     instances in this table will have more than 128 sub-
                     identifiers and cannot be accessed using SNMPv1,
                     SNMPv2c, or SNMPv3.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="inetCidrRouteDestType"
                        type="inet-address:InetAddressType">
                        <xs:annotation>
                           <xs:documentation>
                              The type of the inetCidrRouteDest address, as defined
                              in the InetAddress MIB.
                              
                              Only those address types that may appear in an actual
                              routing table are allowed as values of this object.
                           </xs:documentation>
                           <ncx:reference>
                              <ncx:text>RFC 4001</ncx:text>
                              <ncx:url>
                                 http://www.ietf.org/rfc/rfc4001.txt
                              </ncx:url>
                           </ncx:reference>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteDest"
                        type="inet-address:InetAddress">
                        <xs:annotation>
                           <xs:documentation>
                              The destination IP address of this route.
                              
                              The type of this address is determined by the value of
                              the inetCidrRouteDestType object.
                              
                              The values for the index objects inetCidrRouteDest and
                              inetCidrRoutePfxLen must be consistent.  When the value
                              of inetCidrRouteDest (excluding the zone index, if one
                              is present) is x, then the bitwise logical-AND
                              of x with the value of the mask formed from the
                              corresponding index object inetCidrRoutePfxLen MUST be
                              equal to x.  If not, then the index pair is not
                              consistent and an inconsistentName error must be
                              returned on SET or CREATE requests.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRoutePfxLen"
                        type="inet-address:InetAddressPrefixLength">
                        <xs:annotation>
                           <xs:documentation>
                              Indicates the number of leading one bits that form the
                              mask to be logical-ANDed with the destination address
                              before being compared to the value in the
                              
                              
                              
                              inetCidrRouteDest field.
                              
                              The values for the index objects inetCidrRouteDest and
                              inetCidrRoutePfxLen must be consistent.  When the value
                              of inetCidrRouteDest (excluding the zone index, if one
                              is present) is x, then the bitwise logical-AND
                              of x with the value of the mask formed from the
                              corresponding index object inetCidrRoutePfxLen MUST be
                              equal to x.  If not, then the index pair is not
                              consistent and an inconsistentName error must be
                              returned on SET or CREATE requests.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRoutePolicy"
                        type="yang:object-identifier">
                        <xs:annotation>
                           <xs:documentation>
                              This object is an opaque object without any defined
                              semantics.  Its purpose is to serve as an additional
                              index that may delineate between multiple entries to
                              the same destination.  The value { 0 0 } shall be used
                              as the default value for this object.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteNextHopType"
                        type="inet-address:InetAddressType">
                        <xs:annotation>
                           <xs:documentation>
                              The type of the inetCidrRouteNextHop address, as
                              defined in the InetAddress MIB.
                              
                              Value should be set to unknown(0) for non-remote
                              routes.
                              
                              Only those address types that may appear in an actual
                              routing table are allowed as values of this object.
                           </xs:documentation>
                           <ncx:reference>
                              <ncx:text>RFC 4001</ncx:text>
                              <ncx:url>
                                 http://www.ietf.org/rfc/rfc4001.txt
                              </ncx:url>
                           </ncx:reference>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteNextHop"
                        type="inet-address:InetAddress">
                        <xs:annotation>
                           <xs:documentation>
                              On remote routes, the address of the next system en
                              
                              
                              
                              route.  For non-remote routes, a zero length string.
                              
                              The type of this address is determined by the value of
                              the inetCidrRouteNextHopType object.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteIfIndex"
                        type="if-mib:InterfaceIndexOrZero"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The ifIndex value that identifies the local interface
                              through which the next hop of this route should be
                              reached.  A value of 0 is valid and represents the
                              scenario where no interface is specified.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of route.  Note that local(3) refers to a
                              route for which the next hop is the final destination;
                              remote(4) refers to a route for which the next hop is
                              not the final destination.
                              
                              Routes that do not result in traffic forwarding or
                              rejection should not be displayed, even if the
                              implementation keeps them stored internally.
                              
                              reject(2) refers to a route that, if matched, discards
                              the message as unreachable and returns a notification
                              (e.g., ICMP error) to the message sender.  This is used
                              in some protocols as a means of correctly aggregating
                              routes.
                              
                              blackhole(5) refers to a route that, if matched,
                              discards the message silently.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="other">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="reject">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="local">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="remote">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="blackhole">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="inetCidrRouteProto"
                        type="iana-rtproto:IANAipRouteProtocol"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The routing mechanism via which this route was learned.
                              Inclusion of values for gateway routing protocols is
                              not intended to imply that hosts should support those
                              protocols.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteAge"
                        type="yang:gauge32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of seconds since this route was last updated
                              or otherwise determined to be correct.  Note that no
                              semantics of 'too old' can be implied, except through
                              knowledge of the routing protocol by which the route
                              was learned.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.10"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteNextHopAS"
                        type="inet-address:InetAutonomousSystemNumber"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The Autonomous System Number of the Next Hop.  The
                              semantics of this object are determined by the routing-
                              protocol specified in the route's inetCidrRouteProto
                              value.  When this object is unknown or not relevant, its
                              value should be set to zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.11"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteMetric1"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The primary routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's inetCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.12"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteMetric2"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's inetCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.13"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteMetric3"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's inetCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.14"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteMetric4"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              protocol specified in the route's inetCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.15"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteMetric5"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An alternate routing metric for this route.  The
                              semantics of this metric are determined by the routing-
                              
                              
                              
                              protocol specified in the route's inetCidrRouteProto
                              value.  If this metric is not used, its value should be
                              set to -1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="-1"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.16"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="inetCidrRouteStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The row status variable, used according to row
                              installation and removal conventions.
                              
                              A row entry cannot be modified when the status is
                              marked as active(1).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.4.24.7.1.17"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.ipForward.inetCidrRouteEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="inetCidrRouteEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="inetCidrRouteDestType"/>
                  <xs:field xpath="inetCidrRouteDest"/>
                  <xs:field xpath="inetCidrRoutePfxLen"/>
                  <xs:field xpath="inetCidrRoutePolicy"/>
                  <xs:field xpath="inetCidrRouteNextHopType"/>
                  <xs:field xpath="inetCidrRouteNextHop"/>
               </xs:key>
            </xs:element>
            <xs:element name="inetCidrRouteDiscards"
               type="yang:counter32" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of valid route entries discarded from the
                     inetCidrRouteTable.  Discarded route entries do not
                     appear in the inetCidrRouteTable.  One possible reason
                     for discarding an entry would be to free-up buffer space
                     for other route table entries.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.4.24.8"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.ipForward.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
