ncorg/ncorg/static/xsd/ncx_2008-04-16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="http://netconfcentral.com/ncx"
   targetNamespace="http://netconfcentral.com/ncx"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2008-04-16"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'ncx.yang' by yangdump version 0.9.2
         
         Module: ncx
         Organization: Netconf Central
         Version: 2008-04-16
         Contact: Andy Bierman &lt;andy at netconfcentral.com&gt;
      </xs:documentation>
      <xs:documentation>
         This module contains definitions for Netconf Central extensions.
         These elements will be present in appinfo elements,
         used in YANG or NCX to XSD translation.
      </xs:documentation>
      <xs:appinfo>
         <source>
            /home/andy/swdev/trunk/netconf/modules/netconfcentral/ncx.yang
         </source>
         <organization>Netconf Central</organization>
         <contact>
            Andy Bierman &lt;andy at netconfcentral.com&gt;
         </contact>
      </xs:appinfo>
      <xs:appinfo>
         <revision>
            <version>2008-04-16</version>
            <description>
               Added metadata and rpc-type extensions.
            </description>
         </revision>
         <revision>
            <version>2008-03-21</version>
            <description>
               Added no-duplicates extension.
            </description>
         </revision>
         <revision>
            <version>2008-02-21</version>
            <description>Initial revision.</description>
         </revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:group name="reference">
      <xs:sequence>
         <xs:element name="reference">
            <xs:annotation>
               <xs:documentation>
                  Contains information from the reference-stmt.  Will
                  be present in appinfo for objects which contain a
                  reference-stmt.
               </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="text" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>
                           Value from the reference-stmt.
                        </xs:documentation>
                        <xs:appinfo>
                           <mandatory>true</mandatory>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="url" type="xs:string" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
                           URL for the specified reference.  Will be present
                           if the 'text' field begins with 'RFC xxxx' or 'draft-'
                        </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="__.reference.A__" minOccurs="0"
                     maxOccurs="unbounded" abstract="true"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:group>

   <xs:element name="belongs-to" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the module name value for a belongs-to-stmt.
            Will be present in appinfo for a YANG submodule.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="case-name" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the identifier-str value for a YANG case name.
            Will be present in appinfo for all choice case definitions.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="choice-name" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the identifier-str value for a YANG choice name.
            Will be present in appinfo for all choice object definitions.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="config" type="xs:boolean" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the config-stmt.
            Will be present in appinfo for top-level objects
            or if config-stmt is present in the object definition.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="contact" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the contact-stmt.
            Will be present in appinfo for the module.
            if defined in the module.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="default" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the default-stmt.
            Will be present in appinfo for a typedef that includes
            a default-stmt.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="mandatory" type="xs:boolean" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the mandatory-stmt.
            Will be present in appinfo if mandatory-stmt is 
            present in the object definition.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="min-elements" type="xs:unsignedInt" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the min-elements-stmt.
            Will be present in appinfo for a list or leaf-list
            object, if the min-elements-stmt is present
            in the object definition.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="max-elements" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the max-elements-stmt.
            Will be present in appinfo for a list or leaf-list
            object, if the max-elements-stmt is present
            in the object definition.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
         <xs:union>
            <xs:simpleType>
               <xs:restriction base="xs:unsignedInt"/>
            </xs:simpleType>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="unbounded">
                     <xs:annotation>
                        <xs:appinfo>
                           <value>0</value>
                        </xs:appinfo>
                     </xs:annotation>
                  </xs:enumeration>
               </xs:restriction>
            </xs:simpleType>
         </xs:union>
      </xs:simpleType>
   </xs:element>

   <xs:element name="must">
      <xs:annotation>
         <xs:documentation>
            Contains the fields from one must-stmt.  Will be present
            in appinfo for each must-stmt defined within an object.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="xpath" type="xs:string">
               <xs:annotation>
                  <xs:documentation>
                     The xpath statement specifying the system conditions
                     that must be true for a valid configuration.
                  </xs:documentation>
                  <xs:appinfo>
                     <mandatory>true</mandatory>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Contains the description-stmt value from the must-stmt,
                     if present.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="reference">
               <xs:annotation>
                  <xs:documentation>
                     Contains information from the reference-stmt.  Will
                     be present in appinfo for objects which contain a
                     reference-stmt.
                  </xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="text" type="xs:string">
                        <xs:annotation>
                           <xs:documentation>
                              Value from the reference-stmt.
                           </xs:documentation>
                           <xs:appinfo>
                              <mandatory>true</mandatory>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="url" type="xs:string"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              URL for the specified reference.  Will be present
                              if the 'text' field begins with 'RFC xxxx' or 'draft-'
                           </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.must.reference.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="error-app-tag" type="xs:string"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Contains the error-app-tag-stmt value from the must-stmt,
                     if present.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="error-message" type="xs:string"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     Contains the error-message-stmt value from the must-stmt,
                     if present.
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.must.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="ordered-by" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the ordered-by.
            Will be present in appinfo for all list and leaf-list
            object definitions.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="system">
               <xs:annotation>
                  <xs:appinfo>
                     <value>0</value>
                  </xs:appinfo>
               </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="user">
               <xs:annotation>
                  <xs:appinfo>
                     <value>1</value>
                  </xs:appinfo>
               </xs:annotation>
            </xs:enumeration>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>

   <xs:element name="organization" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value from the organization-stmt.
            Will be present in appinfo if oraganization-stmt is 
            present in the module.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="path" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the path-stmt Xpath expression value for a keyref.
            Will be present in appinfo for all keyref typedefs, and
            inline type-stmts for leafs and leaf-lists.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="position" type="xs:unsignedInt" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the position-stmt value for a bit definition.
            Will be present in appinfo for all 'bits' typedefs, and
            inline type-stmts for leafs and leaf-lists.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="reference">
      <xs:annotation>
         <xs:documentation>
            Contains information from the reference-stmt.  Will
            be present in appinfo for objects which contain a
            reference-stmt.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="text" type="xs:string">
               <xs:annotation>
                  <xs:documentation>
                     Value from the reference-stmt.
                  </xs:documentation>
                  <xs:appinfo>
                     <mandatory>true</mandatory>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="url" type="xs:string" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     URL for the specified reference.  Will be present
                     if the 'text' field begins with 'RFC xxxx' or 'draft-'
                  </xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.reference.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="revision">
      <xs:annotation>
         <xs:documentation>
            Contains the fields from one revision-stmt.  Will be present
            in appinfo for each revision-stmt defined within the module.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="version" type="xs:string">
               <xs:annotation>
                  <xs:documentation>
                     Contains the date string value from the revision-stmt.
                  </xs:documentation>
                  <xs:appinfo>
                     <mandatory>true</mandatory>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
               <xs:annotation>
                  <xs:documentation>
                     Contains the description-stmt value from the revision-stmt.
                  </xs:documentation>
                  <xs:appinfo>
                     <mandatory>true</mandatory>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.revision.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="rpc-output" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the XSD type name value for the RPC output data
            for one RPC method.  Will be present in appinfo for 
            all rpc definitions which contain an output-stmt.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="source" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the complete filespec of the source file used
            for the XSD translation. Will be present in the appinfo
            for the module header.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="units" type="xs:string" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the units-stmt value for a type or leaf.
            Will be present in appinfo for typedefs, and 
            inline type-stmts for leafs and leaf-lists,
            which contain a units-stmt.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

   <xs:element name="value" type="xs:int" minOccurs="0">
      <xs:annotation>
         <xs:documentation>
            Contains the value-stmt value for an enum definition.
            Will be present in appinfo for all 'enumeration' 
            typedefs, and inline type-stmts for leafs and leaf-lists.
         </xs:documentation>
         <xs:appinfo>
            <config>true</config>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>

</xs:schema>
