ncorg/ncorg/static/xsd/netconf-state_2008-02-27.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:netconf:state:1.0"
   targetNamespace="urn:ietf:params:xml:ns:netconf:state:1.0"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2008-02-27"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types"
   xmlns:inet="urn:ietf:params:xml:ns:yang:inet-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'netconf-state.yang' by yangdump version 0.9.3
         
         Module: netconf-state
         Organization: IETF
         Version: 2008-02-27
      </xs:documentation>
      <xs:documentation>
         NetConf Monitoring Schema.
         All elements in this Schema are read-only.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/ietf/netconf-state.yang
         </ncx:source>
         <ncx:organization>IETF</ncx:organization>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2008-02-27</ncx:version>
            <ncx:description>
               Updated to match draft-ietf-netconf-monitoring-01
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>2008-02-01</ncx:version>
            <ncx:description>
               Updated to match draft-bjorklund-netconf-yang-01
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>2007-11-12</ncx:version>
            <ncx:description>
               Updated to match draft-scott-netconf-monitoring-00.txt
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>2007-07-22</ncx:version>
            <ncx:description>Initial revision.</ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:simpleType name="SessionId">
      <xs:annotation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>rfc4741</ncx:text>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ConfigName">
      <xs:annotation>
         <xs:appinfo>
            <ncx:reference>
               <ncx:text>rfc4741</ncx:text>
            </ncx:reference>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="running">
            <xs:annotation>
               <xs:appinfo>
                  <ncx:value>0</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="candidate">
            <xs:annotation>
               <xs:appinfo>
                  <ncx:value>1</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="startup">
            <xs:annotation>
               <xs:appinfo>
                  <ncx:value>2</ncx:value>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="srcIdentifier">
      <xs:annotation>
         <xs:documentation>
            Information about source of the session.
            IPv4Address, IPv6Address, DNS name or any other form is allowed
         </xs:documentation>
      </xs:annotation>
      <xs:union>
         <xs:simpleType>
            <xs:restriction base="inet:ipv4-address"/>
         </xs:simpleType>
         <xs:simpleType>
            <xs:restriction base="inet:ipv6-address"/>
         </xs:simpleType>
         <xs:simpleType>
            <xs:restriction base="inet:domain-name"/>
         </xs:simpleType>
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:union>
   </xs:simpleType>

   <xs:group name="transportType">
      <xs:sequence>
         <xs:choice>
            <xs:annotation>
               <xs:appinfo>
                  <ncx:choice-name>transportType</ncx:choice-name>
                  <ncx:mandatory>true</ncx:mandatory>
               </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>console</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="console" minOccurs="0"/>
               <xs:element name="__.transportType.console.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>tcp</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="tcp" minOccurs="0"/>
               <xs:element name="__.transportType.tcp.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>ssh</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="ssh" minOccurs="0"/>
               <xs:element name="__.transportType.ssh.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>ssl</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="ssl" minOccurs="0"/>
               <xs:element name="__.transportType.ssl.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:element name="__.transportType.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:group name="sessionType">
      <xs:sequence>
         <xs:choice>
            <xs:annotation>
               <xs:appinfo>
                  <ncx:choice-name>sessionType</ncx:choice-name>
                  <ncx:mandatory>true</ncx:mandatory>
               </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>cli</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="cli" minOccurs="0"/>
               <xs:element name="__.sessionType.cli.A__" minOccurs="0"
                  maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>netconf</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="netconf" minOccurs="0"/>
               <xs:element name="__.sessionType.netconf.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:sequence>
               <xs:annotation>
                  <xs:appinfo>
                     <ncx:case-name>webui</ncx:case-name>
                  </xs:appinfo>
               </xs:annotation>
               <xs:element name="webui" minOccurs="0"/>
               <xs:element name="__.sessionType.webui.A__"
                  minOccurs="0" maxOccurs="unbounded" abstract="true"/>
            </xs:sequence>
            <xs:element name="__.sessionType.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>

   <xs:element name="netconfState">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>false</ncx:config>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="capabilities">
               <xs:annotation>
                  <xs:documentation>
                     List of NETCONF capabilities supported
                     by this device.
                  </xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="capability" type="yang:uri"
                        minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:appinfo>
                              <ncx:ordered-by>system</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.netconfState.capabilities.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="sessions">
               <xs:annotation>
                  <xs:documentation>
                     List of NETCONF sessions currently
                     active on this device.
                  </xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="session" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:appinfo>
                              <ncx:ordered-by>system</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="sessionId"
                                 type="SessionId"/>
                              <xs:element name="username"
                                 type="xs:string" minOccurs="0"/>
                              <xs:element name="transport"
                                 type="xs:string" minOccurs="0"/>
                              <xs:element name="protocol"
                                 type="xs:string" minOccurs="0"/>
                              <xs:element name="sourceIdentifier"
                                 type="srcIdentifier" minOccurs="0"/>
                              <xs:element name="loginTime"
                                 type="yang:date-and-time"
                                 minOccurs="0"/>
                              <xs:element
                                 name="__.netconfState.sessions.session.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                        <xs:key name="session_Key">
                           <xs:selector xpath="."/>
                           <xs:field xpath="sessionId"/>
                        </xs:key>
                     </xs:element>
                     <xs:element name="__.netconfState.sessions.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="configurations">
               <xs:annotation>
                  <xs:documentation>
                     List of NETCONF configuration datastores (e.g. running,
                     startup, candidate) supported on this device and related
                     information.
                  </xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="config" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:annotation>
                           <xs:appinfo>
                              <ncx:ordered-by>system</ncx:ordered-by>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="name" type="ConfigName"/>
                              <xs:element name="lockStatus">
                                 <xs:annotation>
                                    <xs:documentation>
                                       An indication of whether a resource is locked or
                                       unlocked.  If locked, additional information about
                                       the locking such as user an time stamp is provided.
                                    </xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="lock-state"
                                          minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction
                                                base="xs:string">
                                                <xs:enumeration
                                                   value="locked">
                                                   <xs:annotation>
                                                      <xs:appinfo>
                                                         <ncx:value>0</ncx:value>
                                                      </xs:appinfo>
                                                   </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration
                                                   value="unlocked">
                                                   <xs:annotation>
                                                      <xs:appinfo>
                                                         <ncx:value>1</ncx:value>
                                                      </xs:appinfo>
                                                   </xs:annotation>
                                                </xs:enumeration>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element
                                          name="lockedBySession"
                                          type="SessionId"
                                          minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>
                                                The session ID of the session that has locked
                                                this resource.
                                             </xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="lockedTime"
                                          type="yang:date-and-time"
                                          minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>
                                                The date and time of when the resource was
                                                locked. If the resource is currently unlocked,
                                                this element will not be present.
                                             </xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element
                                          name="__.netconfState.configurations.config.lockStatus.A__"
                                          minOccurs="0"
                                          maxOccurs="unbounded"
                                          abstract="true"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element
                                 name="__.netconfState.configurations.config.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                        <xs:key name="config_Key">
                           <xs:selector xpath="."/>
                           <xs:field xpath="name"/>
                        </xs:key>
                     </xs:element>
                     <xs:element name="subscriptions">
                        <xs:annotation>
                           <xs:documentation>
                              List of NETCONF notification subscriptions
                              active on this device and related information.
                           </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="subscription"
                                 minOccurs="0" maxOccurs="unbounded">
                                 <xs:annotation>
                                    <xs:documentation>
                                       Information about Netconf Notification Subscriptions.
                                    </xs:documentation>
                                    <xs:appinfo>
                                       <ncx:ordered-by>system</ncx:ordered-by>
                                    </xs:appinfo>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="session-id"
                                          type="SessionId">
                                          <xs:annotation>
                                             <xs:documentation>
                                                The session id associated with this subscription.
                                             </xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="stream"
                                          type="xs:string"
                                          minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>
                                                The stream associated with this subscription.
                                             </xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="filter"
                                          type="xs:anyType"
                                          minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>
                                                The filters associated with this subscription.
                                             </xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element name="messagesSent"
                                          type="yang:zero-based-counter32"
                                          default="0" minOccurs="0">
                                          <xs:annotation>
                                             <xs:documentation>
                                                A count of event notifications sent along
                                                this connection since the subscription was
                                                created.
                                             </xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                       <xs:element
                                          name="__.netconfState.configurations.subscriptions.subscription.A__"
                                          minOccurs="0"
                                          maxOccurs="unbounded"
                                          abstract="true"/>
                                    </xs:sequence>
                                 </xs:complexType>
                                 <xs:key name="subscription_Key">
                                    <xs:selector xpath="."/>
                                    <xs:field xpath="session-id"/>
                                 </xs:key>
                              </xs:element>
                              <xs:element
                                 name="__.netconfState.configurations.subscriptions.A__"
                                 minOccurs="0" maxOccurs="unbounded"
                                 abstract="true"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element
                        name="__.netconfState.configurations.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="__.netconfState.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
