ncorg/ncorg/static/xsd/NETWORK-SERVICES-MIB_2000-03-03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:NETWORK-SERVICES-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:NETWORK-SERVICES-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2000-03-03"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:snmp-framework="urn:ietf:params:xml:ns:yang:smiv2:SNMP-FRAMEWORK-MIB"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'NETWORK-SERVICES-MIB.yang' by yangdump version 0.9.2
         
         Module: NETWORK-SERVICES-MIB
         Organization: IETF Mail and Directory Management Working Group
         Version: 2000-03-03
         Contact:         Ned Freed
         
         Postal: Innosoft International, Inc.
         	1050 Lakes Drive
         	West Covina, CA 91790
         	US
         
            Tel: +1 626 919 3600
            Fax: +1 626 919 3614
         
         E-Mail: ned.freed@innosoft.com
      </xs:documentation>
      <xs:documentation>
         The MIB module describing network service applications
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/./ietf/NETWORK-SERVICES-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF Mail and Directory Management Working Group
         </ncx:organization>
         <ncx:contact>
                    Ned Freed
            
            Postal: Innosoft International, Inc.
            	1050 Lakes Drive
            	West Covina, CA 91790
            	US
            
               Tel: +1 626 919 3600
               Fax: +1 626 919 3614
            
            E-Mail: ned.freed@innosoft.com
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2000-03-03</ncx:version>
            <ncx:description>
               This revision, published in RFC 2788, changes a number of
               DisplayStrings to SnmpAdminStrings. Note that this change
               is not strictly supported by SMIv2.  However, the alternative
               of deprecating the old objects and defining new objects
               would have a more adverse impact on backward compatibility
               and interoperability, given the particular semantics of
               these objects. The defining reference for distinguished
               names has also been updated from RFC 1779 to RFC 2253.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1999-05-12</ncx:version>
            <ncx:description>
               This revision fixes a few small technical problems found
               in previous versions, mostly in regards to the conformance
               groups for different versions of this MIB.  No changes have
               been made to the objects this MIB defines since RFC 2248.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1997-08-17</ncx:version>
            <ncx:description>
               This revision, published in RFC 2248, adds the
               applDescription and applURL objects, adds the quiescing
               state to the applOperStatus object and renames the MIB
               from the APPLICATION-MIB to the NETWORK-SERVICE-MIB.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1993-11-28</ncx:version>
            <ncx:description>
               The original version of this MIB was published in RFC 1565
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:simpleType name="DistinguishedName">
      <xs:annotation>
         <xs:documentation>
            A Distinguished Name represented in accordance with
            RFC 2253, presented in the UTF-8 charset defined in
            RFC 2279.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="\p{IsBasicLatin}{0,255}"/>
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="URLString">
      <xs:annotation>
         <xs:documentation>
            A Uniform Resource Locator represented in accordance
            with RFCs 1738 and 2368, presented in the NVT ASCII
            charset defined in RFC 854.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="\p{IsBasicLatin}{0,255}"/>
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="application">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.27"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="applEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     An entry associated with a single network service
                     application.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="applIndex">
                        <xs:annotation>
                           <xs:documentation>
                              An index to uniquely identify the network service
                              application. This attribute is the index used for
                              lexicographic ordering of the table.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="applName"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The name the network service application chooses to be
                              known by.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applDirectoryName"
                        type="DistinguishedName" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The Distinguished Name of the directory entry where
                              static information about this application is stored.
                              An empty string indicates that no information about
                              the application is available in the directory.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applVersion"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The version of network service application software.
                              This field is usually defined by the vendor of the
                              network service application software.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applUptime"
                        type="yang:timestamp" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of sysUpTime at the time the network service
                              application was last initialized.  If the application was
                              last initialized prior to the last initialization of the
                              network management subsystem, then this object contains
                              a zero value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applOperStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              Indicates the operational status of the network service
                              application. 'down' indicates that the network service is
                              
                              not available. 'up' indicates that the network service
                              is operational and available.  'halted' indicates that the
                              service is operational but not available.  'congested'
                              indicates that the service is operational but no additional
                              inbound associations can be accommodated.  'restarting'
                              indicates that the service is currently unavailable but is
                              in the process of restarting and will be available soon.
                              'quiescing' indicates that service is currently operational
                              but is in the process of shutting down. Additional inbound
                              associations may be rejected by applications in the
                              'quiescing' state.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="up">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="down">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="halted">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="congested">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="restarting">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="quiescing">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>6</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="applLastChange"
                        type="yang:timestamp" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of sysUpTime at the time the network service
                              application entered its current operational state.  If
                              the current state was entered prior to the last
                              initialization of the local network management subsystem,
                              then this object contains a zero value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applInboundAssociations"
                        type="yang:gauge32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of current associations to the network service
                              application, where it is the responder.  An inbound
                              association occurs when another application successfully
                              connects to this one.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applOutboundAssociations"
                        type="yang:gauge32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of current associations to the network service
                              application, where it is the initiator.  An outbound
                              association occurs when this application successfully
                              connects to another one.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="applAccumulatedInboundAssociations"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The total number of associations to the application entity
                              since application initialization, where it was the responder.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.10"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="applAccumulatedOutboundAssociations"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The total number of associations to the application entity
                              since application initialization, where it was the initiator.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.11"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applLastInboundActivity"
                        type="yang:timestamp" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of sysUpTime at the time this application last
                              had an inbound association.  If the last association
                              occurred prior to the last initialization of the network
                              subsystem, then this object contains a zero value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.12"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applLastOutboundActivity"
                        type="yang:timestamp" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of sysUpTime at the time this application last
                              had an outbound association.  If the last association
                              occurred prior to the last initialization of the network
                              subsystem, then this object contains a zero value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.13"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applRejectedInboundAssociations"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The total number of inbound associations the application
                              entity has rejected, since application initialization.
                              Rejected associations are not counted in the accumulated
                              association totals.  Note that this only counts
                              
                              associations the application entity has rejected itself;
                              it does not count rejections that occur at lower layers
                              of the network.  Thus, this counter may not reflect the
                              true number of failed inbound associations.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.14"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applFailedOutboundAssociations"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The total number associations where the application entity
                              is initiator and association establishment has failed,
                              since application initialization.  Failed associations are
                              not counted in the accumulated association totals.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.15"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applDescription"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A text description of the application.  This information
                              is intended to identify and briefly describe the
                              application in a status display.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.16"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="applURL" type="URLString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A URL pointing to a description of the application.
                              This information is intended to identify and describe
                              the application in a status display.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.1.1.17"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.application.applEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="applEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="applIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="assocEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     An entry associated with an association for a network
                     service application.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.27.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="applIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="assocIndex">
                        <xs:annotation>
                           <xs:documentation>
                              An index to uniquely identify each association for a network
                              service application.  This attribute is the index that is
                              used for lexicographic ordering of the table.  Note that the
                              table is also indexed by the applIndex.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="assocRemoteApplication"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The name of the system running remote network service
                              application.  For an IP-based application this should be
                              either a domain name or IP address.  For an OSI application
                              it should be the string encoded distinguished name of the
                              managed object.  For X.400(1984) MTAs which do not have a
                              Distinguished Name, the RFC 2156 syntax 'mta in
                              
                              globalid' used in X400-Received: fields can be used. Note,
                              however, that not all connections an MTA makes are
                              necessarily to another MTA.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="assocApplicationProtocol"
                        type="yang:object-identifier" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              An identification of the protocol being used for the
                              application.  For an OSI Application, this will be the
                              Application Context.  For Internet applications, OID
                              values of the form {applTCPProtoID port} or {applUDPProtoID
                              port} are used for TCP-based and UDP-based protocols,
                              respectively. In either case 'port' corresponds to the
                              primary port number being used by the protocol. The
                              usual IANA procedures may be used to register ports for
                              new protocols.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="assocApplicationType"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This indicates whether the remote application is some type of
                              client making use of this network service (e.g., a Mail User
                              Agent) or a server acting as a peer. Also indicated is whether
                              the remote end initiated an incoming connection to the network
                              service or responded to an outgoing connection made by the
                              local application.  MTAs and messaging gateways are
                              considered to be peers for the purposes of this variable.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="uainitiator">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="uaresponder">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="peerinitiator">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="peerresponder">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="assocDuration"
                        type="yang:timestamp" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of sysUpTime at the time this association was
                              started.  If this association started prior to the last
                              initialization of the network subsystem, then this
                              object contains a zero value.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.27.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.application.assocEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="assocEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="applIndex"/>
                  <xs:field xpath="assocIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.application.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
