ncorg/ncorg/static/xsd/NOTIFICATION-LOG-MIB_2000-11-27.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:NOTIFICATION-LOG-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:NOTIFICATION-LOG-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2000-11-27"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:snmp-framework="urn:ietf:params:xml:ns:yang:smiv2:SNMP-FRAMEWORK-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:inet="urn:ietf:params:xml:ns:yang:inet-types"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'NOTIFICATION-LOG-MIB.yang' by yangdump version 0.9.3
         
         Module: NOTIFICATION-LOG-MIB
         Organization: IETF Distributed Management Working Group
         Version: 2000-11-27
         Contact: Ramanathan Kavasseri
         Cisco Systems, Inc.
         170 West Tasman Drive,
         San Jose CA 95134-1706.
         Phone: +1 408 527 2446
         Email: ramk@cisco.com
      </xs:documentation>
      <xs:documentation>
         The MIB module for logging SNMP Notifications, that is, Traps
         
         
         and Informs.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/ietf/NOTIFICATION-LOG-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF Distributed Management Working Group
         </ncx:organization>
         <ncx:contact>
            Ramanathan Kavasseri
            Cisco Systems, Inc.
            170 West Tasman Drive,
            San Jose CA 95134-1706.
            Phone: +1 408 527 2446
            Email: ramk@cisco.com
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2000-11-27</ncx:version>
            <ncx:description>
               This is the initial version of this MIB.
               Published as RFC 3014
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="nlmConfig">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="nlmConfigGlobalEntryLimit"
               type="xs:unsignedInt" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The maximum number of notification entries that may be held
                     in nlmLogTable for all nlmLogNames added together.  A particular
                     setting does not guarantee that much data can be held.
                     
                     If an application changes the limit while there are
                     Notifications in the log, the oldest Notifications MUST be
                     discarded to bring the log down to the new limit - thus the
                     value of nlmConfigGlobalEntryLimit MUST take precedence over
                     the values of nlmConfigGlobalAgeOut and nlmConfigLogEntryLimit,
                     even if the Notification being discarded has been present for
                     fewer minutes than the value of nlmConfigGlobalAgeOut, or if
                     the named log has fewer entries than that specified in
                     nlmConfigLogEntryLimit.
                     
                     A value of 0 means no limit.
                     
                     Please be aware that contention between multiple managers
                     trying to set this object to different values MAY affect the
                     reliability and completeness of data seen by each manager.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>true</ncx:config>
                     <smi:default  smi:default="0"/>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="nlmConfigGlobalAgeOut"
               type="xs:unsignedInt" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of minutes a Notification SHOULD be kept in a log
                     before it is automatically removed.
                     
                     If an application changes the value of nlmConfigGlobalAgeOut,
                     Notifications older than the new time MAY be discarded to meet the
                     new time.
                     
                     A value of 0 means no age out.
                     
                     Please be aware that contention between multiple managers
                     trying to set this object to different values MAY affect the
                     reliability and completeness of data seen by each manager.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>true</ncx:config>
                     <ncx:units>minutes</ncx:units>
                     <smi:default  smi:default="1440"/>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.2"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="nlmConfigLogEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A logging control entry.  Depending on the entry's storage type
                     entries may be supplied by the system or created and deleted by
                     applications using nlmConfigLogEntryStatus.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="nlmLogName">
                        <xs:annotation>
                           <xs:documentation>
                              The name of the log.
                              
                              An implementation may allow multiple named logs, up to some
                              implementation-specific limit (which may be none).  A
                              zero-length log name is reserved for creation and deletion by
                              the managed system, and MUST be used as the default log name by
                              systems that do not support named logs.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmConfigLogFilterName"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A value of snmpNotifyFilterProfileName as used as an index
                              into the snmpNotifyFilterTable in the SNMP Notification MIB,
                              specifying the locally or remotely originated Notifications
                              to be filtered out and not logged in this log.
                              
                              A zero-length value or a name that does not identify an
                              existing entry in snmpNotifyFilterTable indicate no
                              Notifications are to be logged in this log.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default=""/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmConfigLogEntryLimit"
                        type="xs:unsignedInt" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The maximum number of notification entries that can be held in
                              nlmLogTable for this named log.  A particular setting does not
                              guarantee that that much data can be held.
                              
                              If an application changes the limit while there are
                              Notifications in the log, the oldest Notifications are discarded
                              to bring the log down to the new limit.
                              
                              
                              
                              A value of 0 indicates no limit.
                              
                              Please be aware that contention between multiple managers
                              trying to set this object to different values MAY affect the
                              reliability and completeness of data seen by each manager.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="0"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmConfigLogAdminStatus"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              Control to enable or disable the log without otherwise
                              disturbing the log's entry.
                              
                              Please be aware that contention between multiple managers
                              trying to set this object to different values MAY affect the
                              reliability and completeness of data seen by each manager.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="enabled"/>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="enabled">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="disabled">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmConfigLogOperStatus"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The operational status of this log:
                              
                              disabled  administratively disabled
                              
                              operational    administratively enabled and working
                              
                              noFilter  administratively enabled but either
                              	  nlmConfigLogFilterName is zero length
                              	  or does not name an existing entry in
                              	  snmpNotifyFilterTable
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="disabled">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="operational">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="noFilter">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmConfigLogStorageType"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The storage type of this conceptual row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmConfigLogEntryStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              Control for creating and deleting entries.  Entries may be
                              modified while active.
                              
                              For non-null-named logs, the managed system records the security
                              credentials from the request that sets nlmConfigLogStatus
                              to 'active' and uses that identity to apply access control to
                              the objects in the Notification to decide if that Notification
                              may be logged.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.1.3.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmStatsLogNotificationsLogged"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of Notifications put in this named log.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:units>notifications</ncx:units>
                              <ncx:oid>
                                 1.3.6.1.2.1.92.1.2.3.1.1
                              </ncx:oid>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmStatsLogNotificationsBumped"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The number of log entries discarded from this named log to make
                              room for a new entry due to lack of resources or the value of
                              nlmConfigGlobalEntryLimit or nlmConfigLogEntryLimit.  This does not
                              include entries discarded due to the value of
                              nlmConfigGlobalAgeOut.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <ncx:units>notifications</ncx:units>
                              <ncx:oid>
                                 1.3.6.1.2.1.92.1.2.3.1.2
                              </ncx:oid>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.nlmConfig.nlmConfigLogEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="nlmConfigLogEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="nlmLogName"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.nlmConfig.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="nlmStats">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.92.1.2"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="nlmStatsGlobalNotificationsLogged"
               type="yang:counter32" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of Notifications put into the nlmLogTable.  This
                     counts a Notification once for each log entry, so a Notification
                      put into multiple logs is counted multiple times.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <ncx:units>notifications</ncx:units>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="nlmStatsGlobalNotificationsBumped"
               type="yang:counter32" minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of log entries discarded to make room for a new entry
                     due to lack of resources or the value of nlmConfigGlobalEntryLimit
                     or nlmConfigLogEntryLimit.  This does not include entries discarded
                     due to the value of nlmConfigGlobalAgeOut.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <ncx:units>notifications</ncx:units>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.2.2"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.nlmStats.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="nlmLog">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="nlmLogEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A Notification log entry.
                     
                     Entries appear in this table when Notifications occur and pass
                     filtering by nlmConfigLogFilterName and access control.  They are
                     removed to make way for new entries due to lack of resources or
                     the values of nlmConfigGlobalEntryLimit, nlmConfigGlobalAgeOut, or
                     nlmConfigLogEntryLimit.
                     
                     If adding an entry would exceed nlmConfigGlobalEntryLimit or system
                     resources in general, the oldest entry in any log SHOULD be removed
                     to make room for the new one.
                     
                     If adding an entry would exceed nlmConfigLogEntryLimit the oldest
                     entry in that log SHOULD be removed to make room for the new one.
                     
                     Before the managed system puts a locally-generated Notification
                     into a non-null-named log it assures that the creator of the log
                     has access to the information in the Notification.  If not it
                     does not log that Notification in that log.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="nlmLogName">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="nlmLogIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A monotonically increasing integer for the sole purpose of
                              indexing entries within the named log.  When it reaches the
                              maximum value, an extremely unlikely event, the agent wraps the
                              value back to 1.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:unsignedInt">
                              <xs:minInclusive value="1"/>
                              <xs:maxInclusive value="4294967295"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmLogTime"
                        type="yang:timestamp" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value of sysUpTime when the entry was placed in the log. If
                              the entry occurred before the most recent management system
                              initialization this object value MUST be set to zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogDateAndTime"
                        type="smiv2:DateAndTime" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The local date and time when the entry was logged, instantiated
                              only by systems that have date and time capability.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogEngineID"
                        type="snmp-framework:SnmpEngineID"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The identification of the SNMP engine at which the Notification
                              
                              
                              originated.
                              
                              If the log can contain Notifications from only one engine
                              or the Trap is in SNMPv1 format, this object is a zero-length
                              string.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogEngineTAddress"
                        type="smiv2:TAddress" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The transport service address of the SNMP engine from which the
                              Notification was received, formatted according to the corresponding
                              value of nlmLogEngineTDomain. This is used to identify the source
                              of an SNMPv1 trap, since an nlmLogEngineId cannot be extracted
                              from the SNMPv1 trap pdu.
                              
                              This object MUST always be instantiated, even if the log
                              can contain Notifications from only one engine.
                              
                              Please be aware that the nlmLogEngineTAddress may not uniquely
                              identify the SNMP engine from which the Notification was received.
                              For example, if an SNMP engine uses DHCP or NAT to obtain
                              ip addresses, the address it uses may be shared with other
                              network devices, and hence will not uniquely identify the
                              SNMP engine.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogEngineTDomain"
                        type="smiv2:TDomain" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              Indicates the kind of transport service by which a Notification
                              was received from an SNMP engine. nlmLogEngineTAddress contains
                              the transport service address of the SNMP engine from which
                              this Notification was received.
                              
                              Possible values for this object are presently found in the
                              Transport Mappings for SNMPv2 document (RFC 1906 [8]).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogContextEngineID"
                        type="snmp-framework:SnmpEngineID"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              If the Notification was received in a protocol which has a
                              contextEngineID element like SNMPv3, this object has that value.
                              Otherwise its value is a zero-length string.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogContextName"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The name of the SNMP MIB context from which the Notification came.
                              For SNMPv1 Traps this is the community string from the Trap.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogNotificationID"
                        type="yang:object-identifier" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The NOTIFICATION-TYPE object identifier of the Notification that
                              occurred.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.1.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.nlmLog.nlmLogEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="nlmLogEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="nlmLogName"/>
                  <xs:field xpath="nlmLogIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="nlmLogVariableEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A Notification log entry variable.
                     
                     Entries appear in this table when there are variables in
                     the varbind list of a Notification in nlmLogTable.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="nlmLogName">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="nlmLogIndex">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="nlmLogVariableIndex">
                        <xs:annotation>
                           <xs:documentation>
                              A monotonically increasing integer, starting at 1 for a given
                              nlmLogIndex, for indexing variables within the logged
                              Notification.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:unsignedInt">
                              <xs:minInclusive value="1"/>
                              <xs:maxInclusive value="4294967295"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmLogVariableID"
                        type="yang:object-identifier" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The variable's object identifier.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableValueType"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of the value.  One and only one of the value
                              objects that follow must be instantiated, based on this type.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="counter32">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="unsigned32">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="timeTicks">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="integer32">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="ipAddress">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>5</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="octetString">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>6</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="objectId">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>7</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="counter64">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>8</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="opaque">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>9</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="nlmLogVariableCounter32Val"
                        type="yang:counter32" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'counter32'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableUnsigned32Val"
                        type="xs:unsignedInt" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'unsigned32'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableTimeTicksVal"
                        type="yang:timeticks" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'timeTicks'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableInteger32Val"
                        type="xs:int" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'integer32'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableOctetStringVal"
                        type="xs:base64Binary" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'octetString'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableIpAddressVal"
                        type="inet:ipv4-address" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'ipAddress'.
                              Although this seems to be unfriendly for IPv6, we
                              have to recognize that there are a number of older
                              MIBs that do contain an IPv4 format address, known
                              as IpAddress.
                              
                              IPv6 addresses are represented using TAddress or
                              InetAddress, and so the underlying datatype is
                              
                              
                              OCTET STRING, and their value would be stored in
                              the nlmLogVariableOctetStringVal column.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableOidVal"
                        type="yang:object-identifier" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'objectId'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.10"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableCounter64Val"
                        type="yang:counter64" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'counter64'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.11"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="nlmLogVariableOpaqueVal"
                        type="xs:base64Binary" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The value when nlmLogVariableType is 'opaque'.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.92.1.3.2.1.12"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.nlmLog.nlmLogVariableEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="nlmLogVariableEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="nlmLogName"/>
                  <xs:field xpath="nlmLogIndex"/>
                  <xs:field xpath="nlmLogVariableIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.nlmLog.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
