ncorg/ncorg/static/xsd/SNMP-COMMUNITY-MIB_2000-03-06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:SNMP-COMMUNITY-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:SNMP-COMMUNITY-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2000-03-06"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:snmp-framework="urn:ietf:params:xml:ns:yang:smiv2:SNMP-FRAMEWORK-MIB"
   xmlns:snmp-target="urn:ietf:params:xml:ns:yang:smiv2:SNMP-TARGET-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:inet="urn:ietf:params:xml:ns:yang:inet-types"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'SNMP-COMMUNITY-MIB.yang' by yangdump version 0.9.3
         
         Module: SNMP-COMMUNITY-MIB
         Organization: SNMPv3 Working Group
         Version: 2000-03-06
         Contact: WG-email:   snmpv3@lists.tislabs.com
         Subscribe:  majordomo@lists.tislabs.com
         	    In msg body:  subscribe snmpv3
         
         Chair:      Russ Mundy
         	    TIS Labs at Network Associates
         Postal:     3060 Washington Rd
         	    Glenwood MD 21738
         	    USA
         Email:      mundy@tislabs.com
         Phone:      +1-301-854-6889
         
         Co-editor:  Rob Frye
         	    CoSine Communications
         Postal:     1200 Bridge Parkway
         	    Redwood City, CA 94065
         	    USA
         E-mail:     rfrye@cosinecom.com
         Phone:      +1 703 725 1130
         
         Co-editor:  David B. Levi
         	    Nortel Networks
         Postal:     3505 Kesterwood Drive
         	    Knoxville, TN 37918
         E-mail:     dlevi@nortelnetworks.com
         Phone:      +1 423 686 0432
         
         Co-editor:  Shawn A. Routhier
         	    Integrated Systems Inc.
         Postal:     333 North Ave 4th Floor
         	    Wakefield, MA 01880
         E-mail:     sar@epilogue.com
         Phone:      +1 781 245 0804
         
         Co-editor:  Bert Wijnen
         	    Lucent Technologies
         Postal:     Schagen 33
         	    3461 GL Linschoten
         	    Netherlands
         Email:      bwijnen@lucent.com
         Phone:      +31-348-407-775
      </xs:documentation>
      <xs:documentation>
         This MIB module defines objects to help support coexistence
         between SNMPv1, SNMPv2c, and SNMPv3.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/ietf/SNMP-COMMUNITY-MIB.yang
         </ncx:source>
         <ncx:organization>SNMPv3 Working Group</ncx:organization>
         <ncx:contact>
            WG-email:   snmpv3@lists.tislabs.com
            Subscribe:  majordomo@lists.tislabs.com
            	    In msg body:  subscribe snmpv3
            
            Chair:      Russ Mundy
            	    TIS Labs at Network Associates
            Postal:     3060 Washington Rd
            	    Glenwood MD 21738
            	    USA
            Email:      mundy@tislabs.com
            Phone:      +1-301-854-6889
            
            Co-editor:  Rob Frye
            	    CoSine Communications
            Postal:     1200 Bridge Parkway
            	    Redwood City, CA 94065
            	    USA
            E-mail:     rfrye@cosinecom.com
            Phone:      +1 703 725 1130
            
            Co-editor:  David B. Levi
            	    Nortel Networks
            Postal:     3505 Kesterwood Drive
            	    Knoxville, TN 37918
            E-mail:     dlevi@nortelnetworks.com
            Phone:      +1 423 686 0432
            
            Co-editor:  Shawn A. Routhier
            	    Integrated Systems Inc.
            Postal:     333 North Ave 4th Floor
            	    Wakefield, MA 01880
            E-mail:     sar@epilogue.com
            Phone:      +1 781 245 0804
            
            Co-editor:  Bert Wijnen
            	    Lucent Technologies
            Postal:     Schagen 33
            	    3461 GL Linschoten
            	    Netherlands
            Email:      bwijnen@lucent.com
            Phone:      +31-348-407-775
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2000-03-06</ncx:version>
            <ncx:description>
               This version published as RFC 2576.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1999-05-13</ncx:version>
            <ncx:description>The Initial Revision</ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="snmpCommunityMIBObjects">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.6.3.18.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="snmpCommunityEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Information about a particular community string.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="snmpCommunityIndex">
                        <xs:annotation>
                           <xs:documentation>
                              The unique index value of a row in this table.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpCommunityName"
                        type="xs:base64Binary" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The community string for which a row in this table
                              represents a configuration.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpCommunitySecurityName"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              A human readable string representing the corresponding
                              value of snmpCommunityName in a Security Model
                              independent format.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpCommunityContextEngineID"
                        type="snmp-framework:SnmpEngineID"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The contextEngineID indicating the location of the
                              context in which management information is accessed
                              when using the community string specified by the
                              corresponding instance of snmpCommunityName.
                              
                              The default value is the snmpEngineID of the entity in
                              which this object is instantiated.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpCommunityContextName"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The context in which management information is accessed
                              when using the community string specified by the corresponding
                              instance of snmpCommunityName.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default=""/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpCommunityTransportTag"
                        type="snmp-target:SnmpTagValue" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object specifies a set of transport endpoints
                              from which a command responder application will accept
                              management requests.  If a management request containing
                              this community is received on a transport endpoint other
                              than the transport endpoints identified by this object,
                              the request is deemed unauthentic.
                              
                              The transports identified by this object are specified
                              
                              in the snmpTargetAddrTable.  Entries in that table
                              whose snmpTargetAddrTagList contains this tag value
                              are identified.
                              
                              If the value of this object has zero-length, transport
                              endpoints are not checked when authenticating messages
                              containing this community string.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default=""/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpCommunityStorageType"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The storage type for this conceptual row in the
                              snmpCommunityTable.  Conceptual rows having the value
                              'permanent' need not allow write-access to any
                              columnar object in the row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpCommunityStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The status of this conceptual row in the snmpCommunityTable.
                              
                              An entry in this table is not qualified for activation
                              until instances of all corresponding columns have been
                              initialized, either through default values, or through
                              Set operations.  The snmpCommunityName and
                              snmpCommunitySecurityName objects must be explicitly set.
                              
                              There is no restriction on setting columns in this table
                              when the value of snmpCommunityStatus is active(1).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.18.1.1.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.snmpCommunityMIBObjects.snmpCommunityEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="snmpCommunityEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="snmpCommunityIndex"/>
               </xs:key>
            </xs:element>
            <xs:element name="snmpTrapAddress" type="inet:ipv4-address"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The value of the agent-addr field of a Trap PDU which
                     is forwarded by a proxy forwarder application using
                     an SNMP version other than SNMPv1.  The value of this
                     object SHOULD contain the value of the agent-addr field
                     from the original Trap PDU as generated by an SNMPv1
                     agent.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.6.3.18.1.3"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="snmpTrapCommunity" type="xs:base64Binary"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The value of the community string field of an SNMPv1
                     message containing a Trap PDU which is forwarded by a
                     a proxy forwarder application using an SNMP version
                     other than SNMPv1.  The value of this object SHOULD
                     contain the value of the community string field from
                     the original SNMPv1 message containing a Trap PDU as
                     generated by an SNMPv1 agent.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.6.3.18.1.4"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.snmpCommunityMIBObjects.A__"
               minOccurs="0" maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="snmpTargetAddrTMask" minOccurs="0"
      substitutionGroup="snmp-target:__.snmpTargetObjects.snmpTargetAddrEntry.A__">
      <xs:annotation>
         <xs:documentation>
            The mask value associated with an entry in the
            snmpTargetAddrTable.  The value of this object must
            have the same length as the corresponding instance of
            snmpTargetAddrTAddress, or must have length 0.  An
            attempt to set it to any other value will result in
            an inconsistentValue error.
            
            The value of this object allows an entry in the
            snmpTargetAddrTable to specify multiple addresses.
            The mask value is used to select which bits of
            a transport address must match bits of the corresponding
            instance of snmpTargetAddrTAddress, in order for the
            transport address to match a particular entry in the
            snmpTargetAddrTable.  Bits which are 1 in the mask
            value indicate bits in the transport address which
            must match bits in the snmpTargetAddrTAddress value.
            
            Bits which are 0 in the mask indicate bits in the
            transport address which need not match.  If the
            length of the mask is 0, the mask should be treated
            as if all its bits were 1 and its length were equal
            to the length of the corresponding value of
            snmpTargetAddrTable.
            
            This object may not be modified while the value of the
            corresponding instance of snmpTargetAddrRowStatus is
            active(1).  An attempt to set this object in this case
            will result in an inconsistentValue error.
         </xs:documentation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:default  smi:default=""/>
            <smi:oid  smi:oid="1.3.6.1.6.3.18.1.2.1.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
         <xs:restriction base="xs:base64Binary">
            <xs:minLength value="0"/>
            <xs:maxLength value="255"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>

   <xs:element name="snmpTargetAddrMMS" minOccurs="0"
      substitutionGroup="snmp-target:__.snmpTargetObjects.snmpTargetAddrEntry.A__">
      <xs:annotation>
         <xs:documentation>
            The maximum message size value associated with an entry
            in the snmpTargetAddrTable.
         </xs:documentation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:default  smi:default="484"/>
            <smi:oid  smi:oid="1.3.6.1.6.3.18.1.2.1.2"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
         <xs:union>
            <xs:simpleType>
               <xs:restriction base="xs:int">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="0"/>
               </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
               <xs:restriction base="xs:int">
                  <xs:minInclusive value="484"/>
                  <xs:maxInclusive value="2147483647"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:union>
      </xs:simpleType>
   </xs:element>

</xs:schema>
