ncorg/ncorg/static/xsd/SNMP-NOTIFICATION-MIB_2002-10-14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:SNMP-NOTIFICATION-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:SNMP-NOTIFICATION-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2002-10-14"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:snmp-framework="urn:ietf:params:xml:ns:yang:smiv2:SNMP-FRAMEWORK-MIB"
   xmlns:snmp-target="urn:ietf:params:xml:ns:yang:smiv2:SNMP-TARGET-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'SNMP-NOTIFICATION-MIB.yang' by yangdump version 0.9.2
         
         Module: SNMP-NOTIFICATION-MIB
         Organization: IETF SNMPv3 Working Group
         Version: 2002-10-14
         Contact: WG-email:   snmpv3@lists.tislabs.com
         Subscribe:  majordomo@lists.tislabs.com
         	    In message body:  subscribe snmpv3
         
         Co-Chair:   Russ Mundy
         	    Network Associates Laboratories
         Postal:     15204 Omega Drive, Suite 300
         	    Rockville, MD 20850-4601
         	    USA
         EMail:      mundy@tislabs.com
         Phone:      +1 301-947-7107
         
         Co-Chair:   David Harrington
         	    Enterasys Networks
         Postal:     35 Industrial Way
         	    P. O. Box 5004
         	    Rochester, New Hampshire 03866-5005
         	    USA
         EMail:      dbh@enterasys.com
         Phone:      +1 603-337-2614
         
         Co-editor:  David B. Levi
         	    Nortel Networks
         Postal:     3505 Kesterwood Drive
         	    Knoxville, Tennessee 37918
         EMail:      dlevi@nortelnetworks.com
         Phone:      +1 865 686 0432
         
         Co-editor:  Paul Meyer
         	    Secure Computing Corporation
         Postal:     2675 Long Lake Road
         	    Roseville, Minnesota 55113
         EMail:      paul_meyer@securecomputing.com
         Phone:      +1 651 628 1592
         
         Co-editor:  Bob Stewart
         	    Retired
      </xs:documentation>
      <xs:documentation>
         This MIB module defines MIB objects which provide
         mechanisms to remotely configure the parameters
         used by an SNMP entity for the generation of
         notifications.
         
         Copyright (C) The Internet Society (2002). This
         version of this MIB module is part of RFC 3413;
         see the RFC itself for full legal notices.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/./ietf/SNMP-NOTIFICATION-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF SNMPv3 Working Group
         </ncx:organization>
         <ncx:contact>
            WG-email:   snmpv3@lists.tislabs.com
            Subscribe:  majordomo@lists.tislabs.com
            	    In message body:  subscribe snmpv3
            
            Co-Chair:   Russ Mundy
            	    Network Associates Laboratories
            Postal:     15204 Omega Drive, Suite 300
            	    Rockville, MD 20850-4601
            	    USA
            EMail:      mundy@tislabs.com
            Phone:      +1 301-947-7107
            
            Co-Chair:   David Harrington
            	    Enterasys Networks
            Postal:     35 Industrial Way
            	    P. O. Box 5004
            	    Rochester, New Hampshire 03866-5005
            	    USA
            EMail:      dbh@enterasys.com
            Phone:      +1 603-337-2614
            
            Co-editor:  David B. Levi
            	    Nortel Networks
            Postal:     3505 Kesterwood Drive
            	    Knoxville, Tennessee 37918
            EMail:      dlevi@nortelnetworks.com
            Phone:      +1 865 686 0432
            
            Co-editor:  Paul Meyer
            	    Secure Computing Corporation
            Postal:     2675 Long Lake Road
            	    Roseville, Minnesota 55113
            EMail:      paul_meyer@securecomputing.com
            Phone:      +1 651 628 1592
            
            Co-editor:  Bob Stewart
            	    Retired
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2002-10-14</ncx:version>
            <ncx:description>
               Clarifications, published as
               RFC 3413.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1998-08-04</ncx:version>
            <ncx:description>
               Clarifications, published as
               RFC 2573.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1997-07-14</ncx:version>
            <ncx:description>
               The initial revision, published as RFC2273.
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="snmpNotifyObjects">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.6.3.13.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="snmpNotifyEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     An entry in this table selects a set of management targets
                     which should receive notifications, as well as the type of
                     
                     notification which should be sent to each selected
                     management target.
                     
                     Entries in the snmpNotifyTable are created and
                     deleted using the snmpNotifyRowStatus object.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.6.3.13.1.1.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="snmpNotifyName">
                        <xs:annotation>
                           <xs:documentation>
                              The locally arbitrary, but unique identifier associated
                              with this snmpNotifyEntry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.1.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpNotifyTag"
                        type="snmp-target:SnmpTagValue" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object contains a single tag value which is used
                              to select entries in the snmpTargetAddrTable.  Any entry
                              in the snmpTargetAddrTable which contains a tag value
                              which is equal to the value of an instance of this
                              object is selected.  If this object contains a value
                              of zero length, no entries are selected.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default=""/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.1.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpNotifyType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object determines the type of notification to
                              
                              be generated for entries in the snmpTargetAddrTable
                              selected by the corresponding instance of
                              snmpNotifyTag.  This value is only used when
                              generating notifications, and is ignored when
                              using the snmpTargetAddrTable for other purposes.
                              
                              If the value of this object is trap(1), then any
                              messages generated for selected rows will contain
                              Unconfirmed-Class PDUs.
                              
                              If the value of this object is inform(2), then any
                              messages generated for selected rows will contain
                              Confirmed-Class PDUs.
                              
                              Note that if an SNMP entity only supports
                              generation of Unconfirmed-Class PDUs (and not
                              Confirmed-Class PDUs), then this object may be
                              read-only.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="trap"/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.1.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="trap">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="inform">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpNotifyStorageType"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The storage type for this conceptual row.
                              Conceptual rows having the value 'permanent' need not
                              allow write-access to any columnar objects in the row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="nonVolatile"/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.1.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpNotifyRowStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The status of this conceptual row.
                              
                              To create a row in this table, a manager must
                              set this object to either createAndGo(4) or
                              createAndWait(5).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.1.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.snmpNotifyObjects.snmpNotifyEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="snmpNotifyEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="snmpNotifyName"/>
               </xs:key>
            </xs:element>
            <xs:element name="snmpNotifyFilterProfileEntry"
               minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     An entry in this table indicates the name of the filter
                     profile to be used when generating notifications using
                     the corresponding entry in the snmpTargetParamsTable.
                     
                     Entries in the snmpNotifyFilterProfileTable are created
                     and deleted using the snmpNotifyFilterProfileRowStatus
                     object.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.6.3.13.1.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="snmpTargetParamsName">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterProfileName"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The name of the filter profile to be used when generating
                              notifications using the corresponding entry in the
                              snmpTargetAddrTable.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterProfileStorType"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The storage type for this conceptual row.
                              Conceptual rows having the value 'permanent' need not
                              allow write-access to any columnar objects in the row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="nonVolatile"/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="snmpNotifyFilterProfileRowStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The status of this conceptual row.
                              
                              To create a row in this table, a manager must
                              set this object to either createAndGo(4) or
                              createAndWait(5).
                              
                              Until instances of all corresponding columns are
                              appropriately configured, the value of the
                              corresponding instance of the
                              snmpNotifyFilterProfileRowStatus column is 'notReady'.
                              
                              In particular, a newly created row cannot be made
                              active until the corresponding instance of
                              snmpNotifyFilterProfileName has been set.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.snmpNotifyObjects.snmpNotifyFilterProfileEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="snmpNotifyFilterProfileEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="snmpTargetParamsName"/>
               </xs:key>
            </xs:element>
            <xs:element name="snmpNotifyFilterEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     An element of a filter profile.
                     
                     Entries in the snmpNotifyFilterTable are created and
                     deleted using the snmpNotifyFilterRowStatus object.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.6.3.13.1.3.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="snmpNotifyFilterProfileName">
                        <xs:annotation>
                           <xs:documentation>
                              Automagically generated keyref leaf.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType/>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterSubtree"
                        type="yang:object-identifier">
                        <xs:annotation>
                           <xs:documentation>
                              The MIB subtree which, when combined with the corresponding
                              instance of snmpNotifyFilterMask, defines a family of
                              subtrees which are included in or excluded from the
                              filter profile.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.3.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterMask"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The bit mask which, in combination with the corresponding
                              instance of snmpNotifyFilterSubtree, defines a family of
                              subtrees which are included in or excluded from the
                              filter profile.
                              
                              Each bit of this bit mask corresponds to a
                              sub-identifier of snmpNotifyFilterSubtree, with the
                              most significant bit of the i-th octet of this octet
                              string value (extended if necessary, see below)
                              corresponding to the (8*i - 7)-th sub-identifier, and
                              the least significant bit of the i-th octet of this
                              octet string corresponding to the (8*i)-th
                              sub-identifier, where i is in the range 1 through 16.
                              
                              Each bit of this bit mask specifies whether or not
                              the corresponding sub-identifiers must match when
                              determining if an OBJECT IDENTIFIER matches this
                              family of filter subtrees; a '1' indicates that an
                              exact match must occur; a '0' indicates 'wild card',
                              i.e., any sub-identifier value matches.
                              
                              Thus, the OBJECT IDENTIFIER X of an object instance
                              is contained in a family of filter subtrees if, for
                              each sub-identifier of the value of
                              snmpNotifyFilterSubtree, either:
                              
                                the i-th bit of snmpNotifyFilterMask is 0, or
                              
                                the i-th sub-identifier of X is equal to the i-th
                                sub-identifier of the value of
                                snmpNotifyFilterSubtree.
                              
                              If the value of this bit mask is M bits long and
                              there are more than M sub-identifiers in the
                              corresponding instance of snmpNotifyFilterSubtree,
                              then the bit mask is extended with 1's to be the
                              required length.
                              
                              Note that when the value of this object is the
                              zero-length string, this extension rule results in
                              a mask of all-1's being used (i.e., no 'wild card'),
                              and the family of filter subtrees is the one
                              subtree uniquely identified by the corresponding
                              instance of snmpNotifyFilterSubtree.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default=""/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.3.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:base64Binary">
                              <xs:maxLength value="16"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterType"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object indicates whether the family of filter subtrees
                              defined by this entry are included in or excluded from a
                              filter.  A more detailed discussion of the use of this
                              object can be found in section 6. of [SNMP-APPL].
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="included"/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.3.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="included">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="excluded">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterStorageType"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The storage type for this conceptual row.
                              Conceptual rows having the value 'permanent' need not
                              
                              allow write-access to any columnar objects in the row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="nonVolatile"/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.3.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpNotifyFilterRowStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The status of this conceptual row.
                              
                              To create a row in this table, a manager must
                              set this object to either createAndGo(4) or
                              createAndWait(5).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.13.1.3.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.snmpNotifyObjects.snmpNotifyFilterEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="snmpNotifyFilterEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="snmpNotifyFilterProfileName"/>
                  <xs:field xpath="snmpNotifyFilterSubtree"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.snmpNotifyObjects.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
