ncorg/ncorg/static/xsd/SNMP-PROXY-MIB_2002-10-14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:SNMP-PROXY-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:SNMP-PROXY-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2002-10-14"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:snmp-framework="urn:ietf:params:xml:ns:yang:smiv2:SNMP-FRAMEWORK-MIB"
   xmlns:snmp-target="urn:ietf:params:xml:ns:yang:smiv2:SNMP-TARGET-MIB"
   xmlns:smiv2="urn:ietf:params:xml:ns:yang:smiv2:SNMPv2-TC"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'SNMP-PROXY-MIB.yang' by yangdump version 0.9.3
         
         Module: SNMP-PROXY-MIB
         Organization: IETF SNMPv3 Working Group
         Version: 2002-10-14
         Contact: WG-email:   snmpv3@lists.tislabs.com
         Subscribe:  majordomo@lists.tislabs.com
         	    In message body:  subscribe snmpv3
         
         Co-Chair:   Russ Mundy
         	    Network Associates Laboratories
         Postal:     15204 Omega Drive, Suite 300
         	    Rockville, MD 20850-4601
         	    USA
         EMail:      mundy@tislabs.com
         Phone:      +1 301-947-7107
         
         Co-Chair:   David Harrington
         	    Enterasys Networks
         Postal:     35 Industrial Way
         	    P. O. Box 5004
         	    Rochester, New Hampshire 03866-5005
         	    USA
         EMail:      dbh@enterasys.com
         Phone:      +1 603-337-2614
         
         Co-editor:  David B. Levi
         	    Nortel Networks
         Postal:     3505 Kesterwood Drive
         	    Knoxville, Tennessee 37918
         EMail:      dlevi@nortelnetworks.com
         Phone:      +1 865 686 0432
         
         Co-editor:  Paul Meyer
         	    Secure Computing Corporation
         Postal:     2675 Long Lake Road
         	    Roseville, Minnesota 55113
         EMail:      paul_meyer@securecomputing.com
         Phone:      +1 651 628 1592
         
         Co-editor:  Bob Stewart
         	    Retired
      </xs:documentation>
      <xs:documentation>
         This MIB module defines MIB objects which provide
         mechanisms to remotely configure the parameters
         used by a proxy forwarding application.
         
         Copyright (C) The Internet Society (2002). This
         version of this MIB module is part of RFC 3413;
         see the RFC itself for full legal notices.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/ietf/SNMP-PROXY-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF SNMPv3 Working Group
         </ncx:organization>
         <ncx:contact>
            WG-email:   snmpv3@lists.tislabs.com
            Subscribe:  majordomo@lists.tislabs.com
            	    In message body:  subscribe snmpv3
            
            Co-Chair:   Russ Mundy
            	    Network Associates Laboratories
            Postal:     15204 Omega Drive, Suite 300
            	    Rockville, MD 20850-4601
            	    USA
            EMail:      mundy@tislabs.com
            Phone:      +1 301-947-7107
            
            Co-Chair:   David Harrington
            	    Enterasys Networks
            Postal:     35 Industrial Way
            	    P. O. Box 5004
            	    Rochester, New Hampshire 03866-5005
            	    USA
            EMail:      dbh@enterasys.com
            Phone:      +1 603-337-2614
            
            Co-editor:  David B. Levi
            	    Nortel Networks
            Postal:     3505 Kesterwood Drive
            	    Knoxville, Tennessee 37918
            EMail:      dlevi@nortelnetworks.com
            Phone:      +1 865 686 0432
            
            Co-editor:  Paul Meyer
            	    Secure Computing Corporation
            Postal:     2675 Long Lake Road
            	    Roseville, Minnesota 55113
            EMail:      paul_meyer@securecomputing.com
            Phone:      +1 651 628 1592
            
            Co-editor:  Bob Stewart
            	    Retired
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2002-10-14</ncx:version>
            <ncx:description>
               Clarifications, published as
               RFC 3413.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1998-08-04</ncx:version>
            <ncx:description>
               Clarifications, published as
               RFC 2573.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1997-07-14</ncx:version>
            <ncx:description>
               The initial revision, published as RFC2273.
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="snmpProxyObjects">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.6.3.14.1"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="snmpProxyEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     A set of translation parameters used by a proxy forwarder
                     application for forwarding SNMP messages.
                     
                     Entries in the snmpProxyTable are created and deleted
                     using the snmpProxyRowStatus object.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="snmpProxyName">
                        <xs:annotation>
                           <xs:documentation>
                              The locally arbitrary, but unique identifier associated
                              with this snmpProxyEntry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction
                              base="snmp-framework:SnmpAdminString">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="32"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpProxyType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The type of message that may be forwarded using
                              the translation parameters defined by this entry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="read">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>1</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="write">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>2</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="trap">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>3</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                              <xs:enumeration value="inform">
                                 <xs:annotation>
                                    <xs:appinfo>
                                       <ncx:value>4</ncx:value>
                                    </xs:appinfo>
                                 </xs:annotation>
                              </xs:enumeration>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="snmpProxyContextEngineID"
                        type="snmp-framework:SnmpEngineID"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The contextEngineID contained in messages that
                              may be forwarded using the translation parameters
                              defined by this entry.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpProxyContextName"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The contextName contained in messages that may be
                              forwarded using the translation parameters defined
                              by this entry.
                              
                              This object is optional, and if not supported, the
                              contextName contained in a message is ignored when
                              selecting an entry in the snmpProxyTable.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpProxyTargetParamsIn"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object selects an entry in the snmpTargetParamsTable.
                              The selected entry is used to determine which row of the
                              snmpProxyTable to use for forwarding received messages.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpProxySingleTargetOut"
                        type="snmp-framework:SnmpAdminString"
                        minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object selects a management target defined in the
                              snmpTargetAddrTable (in the SNMP-TARGET-MIB).  The
                              selected target is defined by an entry in the
                              snmpTargetAddrTable whose index value (snmpTargetAddrName)
                              is equal to this object.
                              
                              This object is only used when selection of a single
                              target is required (i.e. when forwarding an incoming
                              read or write request).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpProxyMultipleTargetOut"
                        type="snmp-target:SnmpTagValue" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              This object selects a set of management targets defined
                              in the snmpTargetAddrTable (in the SNMP-TARGET-MIB).
                              
                              This object is only used when selection of multiple
                              targets is required (i.e. when forwarding an incoming
                              notification).
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpProxyStorageType"
                        type="smiv2:StorageType" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The storage type of this conceptual row.
                              Conceptual rows having the value 'permanent' need not
                              allow write-access to any columnar objects in the row.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:default  smi:default="nonVolatile"/>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="snmpProxyRowStatus"
                        type="smiv2:RowStatus" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The status of this conceptual row.
                              
                              To create a row in this table, a manager must
                              
                              set this object to either createAndGo(4) or
                              createAndWait(5).
                              
                              The following objects may not be modified while the
                              value of this object is active(1):
                                  - snmpProxyType
                                  - snmpProxyContextEngineID
                                  - snmpProxyContextName
                                  - snmpProxyTargetParamsIn
                                  - snmpProxySingleTargetOut
                                  - snmpProxyMultipleTargetOut
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>true</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.6.3.14.1.2.1.9"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element
                        name="__.snmpProxyObjects.snmpProxyEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="snmpProxyEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="snmpProxyName"/>
               </xs:key>
            </xs:element>
            <xs:element name="__.snmpProxyObjects.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
