ncorg/ncorg/static/xsd/UDP-MIB_2005-05-20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ietf:params:xml:ns:yang:smiv2:UDP-MIB"
   targetNamespace="urn:ietf:params:xml:ns:yang:smiv2:UDP-MIB"
   elementFormDefault="qualified" attributeFormDefault="unqualified"
   xml:lang="en" version="2005-05-20"
   xmlns:ncx="http://netconfcentral.com/ncx"
   xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0"
   xmlns:inet-address="urn:ietf:params:xml:ns:yang:smiv2:INET-ADDRESS-MIB"
   xmlns:inet="urn:ietf:params:xml:ns:yang:inet-types"
   xmlns:smi="urn:ietf:params:xml:ns:yang:yang-smi"
   xmlns:yang="urn:ietf:params:xml:ns:yang:yang-types">
   <xs:annotation>
      <xs:documentation>
         Converted from YANG file 'UDP-MIB.yang' by yangdump version 0.9.2
         
         Module: UDP-MIB
         Organization: IETF IPv6 Working Group
         http://www.ietf.org/html.charters/ipv6-charter.html
         Version: 2005-05-20
         Contact: Bill Fenner (editor)
         
         AT&amp;T Labs -- Research
         75 Willow Rd.
         Menlo Park, CA 94025
         
         Phone: +1 650 330-7893
         Email: &lt;fenner@research.att.com&gt;
         
         John Flick (editor)
         
         Hewlett-Packard Company
         8000 Foothills Blvd. M/S 5557
         Roseville, CA 95747
         
         Phone: +1 916 785 4018
         Email: &lt;john.flick@hp.com&gt;
         
         Send comments to &lt;ipv6@ietf.org&gt;
      </xs:documentation>
      <xs:documentation>
         The MIB module for managing UDP implementations.
         Copyright (C) The Internet Society (2005).  This
         version of this MIB module is part of RFC 4113;
         see the RFC itself for full legal notices.
      </xs:documentation>
      <xs:appinfo>
         <ncx:source>
            /home/andy/swdev/trunk/netconf/modules/./ietf/UDP-MIB.yang
         </ncx:source>
         <ncx:organization>
            IETF IPv6 Working Group
            http://www.ietf.org/html.charters/ipv6-charter.html
         </ncx:organization>
         <ncx:contact>
            Bill Fenner (editor)
            
            AT&amp;T Labs -- Research
            75 Willow Rd.
            Menlo Park, CA 94025
            
            Phone: +1 650 330-7893
            Email: &lt;fenner@research.att.com&gt;
            
            John Flick (editor)
            
            Hewlett-Packard Company
            8000 Foothills Blvd. M/S 5557
            Roseville, CA 95747
            
            Phone: +1 916 785 4018
            Email: &lt;john.flick@hp.com&gt;
            
            Send comments to &lt;ipv6@ietf.org&gt;
         </ncx:contact>
      </xs:appinfo>
      <xs:appinfo>
         <ncx:revision>
            <ncx:version>2005-05-20</ncx:version>
            <ncx:description>
               IP version neutral revision, incorporating the
               following revisions:
               
               - Added udpHCInDatagrams and udpHCOutDatagrams in order
                 to provide high-capacity counters for fast networks.
               - Added text to the descriptions of all counter objects
                 to indicate how discontinuities are detected.
               - Deprecated the IPv4-specific udpTable and replaced it
                 with the version neutral udpEndpointTable.  This
                 table includes support for connected UDP endpoints
                 and support for identification of the operating
                 system process associated with a UDP endpoint.
               - Deprecated the udpGroup and replaced it with object
                 groups representing the current set of objects.
               - Deprecated udpMIBCompliance and replaced it with
                 udpMIBCompliance2, which includes the compliance
                 information for the new object groups.
               
               This version published as RFC 4113.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1994-11-01</ncx:version>
            <ncx:description>
               Initial SMIv2 version, published as RFC 2013.
            </ncx:description>
         </ncx:revision>
         <ncx:revision>
            <ncx:version>1991-03-31</ncx:version>
            <ncx:description>
               The initial revision of this MIB module was part of
               MIB-II, published as RFC 1213.
            </ncx:description>
         </ncx:revision>
      </xs:appinfo>
   </xs:annotation>

   <xs:element name="udp">
      <xs:annotation>
         <xs:appinfo>
            <ncx:config>true</ncx:config>
            <smi:oid  smi:oid="1.3.6.1.2.1.7"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="udpInDatagrams" type="yang:counter32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The total number of UDP datagrams delivered to UDP
                     users.
                     
                     Discontinuities in the value of this counter can occur
                     at re-initialization of the management system, and at
                     other times as indicated by discontinuities in the
                     value of sysUpTime.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.1"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="udpNoPorts" type="yang:counter32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The total number of received UDP datagrams for which
                     there was no application at the destination port.
                     
                     Discontinuities in the value of this counter can occur
                     at re-initialization of the management system, and at
                     other times as indicated by discontinuities in the
                     value of sysUpTime.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.2"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="udpInErrors" type="yang:counter32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The number of received UDP datagrams that could not be
                     delivered for reasons other than the lack of an
                     application at the destination port.
                     
                     Discontinuities in the value of this counter can occur
                     at re-initialization of the management system, and at
                     other times as indicated by discontinuities in the
                     value of sysUpTime.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.3"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="udpOutDatagrams" type="yang:counter32"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The total number of UDP datagrams sent from this
                     entity.
                     
                     Discontinuities in the value of this counter can occur
                     at re-initialization of the management system, and at
                     other times as indicated by discontinuities in the
                     value of sysUpTime.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.4"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="udpEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Information about a particular current UDP listener.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:status>deprecated</ncx:status>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.5.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="udpLocalAddress"
                        type="inet:ipv4-address">
                        <xs:annotation>
                           <xs:documentation>
                              The local IP address for this UDP listener.  In the
                              case of a UDP listener that is willing to accept
                              datagrams for any IP interface associated with the
                              node, the value 0.0.0.0 is used.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.5.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpLocalPort">
                        <xs:annotation>
                           <xs:documentation>
                              The local port number for this UDP listener.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:status>deprecated</ncx:status>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.5.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:int">
                              <xs:minInclusive value="0"/>
                              <xs:maxInclusive value="65535"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="__.udp.udpEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="udpEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="udpLocalAddress"/>
                  <xs:field xpath="udpLocalPort"/>
               </xs:key>
            </xs:element>
            <xs:element name="udpEndpointEntry" minOccurs="0"
               maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>
                     Information about a particular current UDP endpoint.
                     
                     Implementers need to be aware that if the total number
                     of elements (octets or sub-identifiers) in
                     udpEndpointLocalAddress and udpEndpointRemoteAddress
                     exceeds 111, then OIDs of column instances in this table
                     will have more than 128 sub-identifiers and cannot be
                     accessed using SNMPv1, SNMPv2c, or SNMPv3.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:ordered-by>system</ncx:ordered-by>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1"/>
                  </xs:appinfo>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="udpEndpointLocalAddressType"
                        type="inet-address:InetAddressType">
                        <xs:annotation>
                           <xs:documentation>
                              The address type of udpEndpointLocalAddress.  Only
                              IPv4, IPv4z, IPv6, and IPv6z addresses are expected, or
                              unknown(0) if datagrams for all local IP addresses are
                              accepted.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.1"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpEndpointLocalAddress"
                        type="inet-address:InetAddress">
                        <xs:annotation>
                           <xs:documentation>
                              The local IP address for this UDP endpoint.
                              
                              The value of this object can be represented in three
                              
                              possible ways, depending on the characteristics of the
                              listening application:
                              
                              1. For an application that is willing to accept both
                                 IPv4 and IPv6 datagrams, the value of this object
                                 must be ''h (a zero-length octet-string), with
                                 the value of the corresponding instance of the
                                 udpEndpointLocalAddressType object being unknown(0).
                              
                              2. For an application that is willing to accept only IPv4
                                 or only IPv6 datagrams, the value of this object
                                 must be '0.0.0.0' or '::', respectively, while the
                                 corresponding instance of the
                                 udpEndpointLocalAddressType object represents the
                                 appropriate address type.
                              
                              3. For an application that is listening for data
                                 destined only to a specific IP address, the value
                                 of this object is the specific IP address for which
                                 this node is receiving packets, with the
                                 corresponding instance of the
                                 udpEndpointLocalAddressType object representing the
                                 appropriate address type.
                              
                              As this object is used in the index for the
                              udpEndpointTable, implementors of this table should be
                              careful not to create entries that would result in OIDs
                              with more than 128 subidentifiers; else the information
                              cannot be accessed using SNMPv1, SNMPv2c, or SNMPv3.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.2"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpEndpointLocalPort"
                        type="inet-address:InetPortNumber">
                        <xs:annotation>
                           <xs:documentation>
                              The local port number for this UDP endpoint.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.3"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpEndpointRemoteAddressType"
                        type="inet-address:InetAddressType">
                        <xs:annotation>
                           <xs:documentation>
                              The address type of udpEndpointRemoteAddress.  Only
                              IPv4, IPv4z, IPv6, and IPv6z addresses are expected, or
                              unknown(0) if datagrams for all remote IP addresses are
                              accepted.  Also, note that some combinations of
                              
                              udpEndpointLocalAdressType and
                              udpEndpointRemoteAddressType are not supported.  In
                              particular, if the value of this object is not
                              unknown(0), it is expected to always refer to the
                              same IP version as udpEndpointLocalAddressType.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.4"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpEndpointRemoteAddress"
                        type="inet-address:InetAddress">
                        <xs:annotation>
                           <xs:documentation>
                              The remote IP address for this UDP endpoint.  If
                              datagrams from any remote system are to be accepted,
                              this value is ''h (a zero-length octet-string).
                              Otherwise, it has the type described by
                              udpEndpointRemoteAddressType and is the address of the
                              remote system from which datagrams are to be accepted
                              (or to which all datagrams will be sent).
                              
                              As this object is used in the index for the
                              udpEndpointTable, implementors of this table should be
                              careful not to create entries that would result in OIDs
                              with more than 128 subidentifiers; else the information
                              cannot be accessed using SNMPv1, SNMPv2c, or SNMPv3.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.5"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpEndpointRemotePort"
                        type="inet-address:InetPortNumber">
                        <xs:annotation>
                           <xs:documentation>
                              The remote port number for this UDP endpoint.  If
                              datagrams from any remote system are to be accepted,
                              this value is zero.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.6"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="udpEndpointInstance">
                        <xs:annotation>
                           <xs:documentation>
                              The instance of this tuple.  This object is used to
                              distinguish among multiple processes 'connected' to
                              the same UDP endpoint.  For example, on a system
                              implementing the BSD sockets interface, this would be
                              used to support the SO_REUSEADDR and SO_REUSEPORT
                              socket options.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.7"/>
                           </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:unsignedInt">
                              <xs:minInclusive value="1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="udpEndpointProcess"
                        type="xs:unsignedInt" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>
                              The system's process ID for the process associated with
                              this endpoint, or zero if there is no such process.
                              This value is expected to be the same as
                              HOST-RESOURCES-MIB::hrSWRunIndex or SYSAPPL-MIB::
                              sysApplElmtRunIndex for some row in the appropriate
                              tables.
                           </xs:documentation>
                           <xs:appinfo>
                              <ncx:config>false</ncx:config>
                              <smi:oid  smi:oid="1.3.6.1.2.1.7.7.1.8"/>
                           </xs:appinfo>
                        </xs:annotation>
                     </xs:element>
                     <xs:element name="__.udp.udpEndpointEntry.A__"
                        minOccurs="0" maxOccurs="unbounded"
                        abstract="true"/>
                  </xs:sequence>
               </xs:complexType>
               <xs:key name="udpEndpointEntry_Key">
                  <xs:selector xpath="."/>
                  <xs:field xpath="udpEndpointLocalAddressType"/>
                  <xs:field xpath="udpEndpointLocalAddress"/>
                  <xs:field xpath="udpEndpointLocalPort"/>
                  <xs:field xpath="udpEndpointRemoteAddressType"/>
                  <xs:field xpath="udpEndpointRemoteAddress"/>
                  <xs:field xpath="udpEndpointRemotePort"/>
                  <xs:field xpath="udpEndpointInstance"/>
               </xs:key>
            </xs:element>
            <xs:element name="udpHCInDatagrams" type="yang:counter64"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The total number of UDP datagrams delivered to UDP
                     users, for devices that can receive more than 1
                     million UDP datagrams per second.
                     
                     Discontinuities in the value of this counter can occur
                     at re-initialization of the management system, and at
                     other times as indicated by discontinuities in the
                     value of sysUpTime.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.8"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="udpHCOutDatagrams" type="yang:counter64"
               minOccurs="0">
               <xs:annotation>
                  <xs:documentation>
                     The total number of UDP datagrams sent from this
                     entity, for devices that can transmit more than 1
                     million UDP datagrams per second.
                     
                     Discontinuities in the value of this counter can occur
                     at re-initialization of the management system, and at
                     other times as indicated by discontinuities in the
                     value of sysUpTime.
                  </xs:documentation>
                  <xs:appinfo>
                     <ncx:config>false</ncx:config>
                     <smi:oid  smi:oid="1.3.6.1.2.1.7.9"/>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="__.udp.A__" minOccurs="0"
               maxOccurs="unbounded" abstract="true"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
